<div class="container">
  <h1>Enneagram <span class="sp-branding">Descriptions</span></h1>
  <div>
    <span class="lead">Want to compare the nine types of the Enneagram?</span>
    <p>
      Select a type (or multiple), then select from the various description sets
      to compare the types to one another!
    </p>
  </div>
  <div>
    <button
      (click)="manageTypes = !manageTypes"
      class="btn btn-sm btn-gray mr-2 mb-2"
      [ngClass]="{ active: manageTypes }"
    >
      {{ manageTypes ? "Hide Types" : "Show Types" }}
    </button>
  </div>
  <div [ngClass]="{ 'd-none': !manageTypes }">
    <div>
      <strong>Select Types</strong>
    </div>
    <button
      class="btn btn-gray mr-2 mb-2"
      *ngFor="let currentNumber of numbers"
      (click)="chooseNumber(currentNumber)"
      [ngClass]="{ active: selectedNumbers.includes(currentNumber) }"
    >
      {{ currentNumber }}
    </button>
    <div>
      <button class="btn btn-primary mr-2 mb-2" (click)="addAllNumbers()">
        Select All
      </button>
      <button
        class="btn btn-secondary btn-sm mr-2 mb-2"
        (click)="selectedNumbers = []"
      >
        Clear
      </button>
    </div>
  </div>
  <div>
    <button
      (click)="manageSources = !manageSources"
      class="btn btn-sm btn-gray mr-2 mb-2"
      [ngClass]="{ active: manageSources }"
    >
      {{ manageSources ? "Hide Sources" : "Show Sources" }}
    </button>
  </div>
  <div [ngClass]="{ 'd-none': !manageSources }">
    <div>
      <strong>Select Sources</strong>
    </div>
    <button
      class="btn btn-gray mr-2 mb-2"
      *ngFor="let source of nineTypes | keyvalue"
      (click)="chooseSource(source.key)"
      [ngClass]="{ active: selectedSources.includes(source.key) }"
    >
      {{ source.key }}
    </button>
    <div>
      <button class="btn btn-primary mr-2 mb-2" (click)="addAllSources()">
        Select All
      </button>
      <button
        class="btn btn-secondary btn-sm mr-2 mb-2"
        (click)="selectedSources = []"
      >
        Clear
      </button>
    </div>
  </div>
  <div>
    <div>
      <strong>Group By</strong>
    </div>
    <div class="btn-group mr-2 mb-2">
      <button
        class="btn btn-gray"
        *ngFor="let option of sortOptions"
        (click)="sortBy = option"
        [ngClass]="{ active: sortBy === option }"
      >
        {{ option }}
      </button>
    </div>
  </div>
  <!-- <h2>One</h2>
    <div *ngFor="let source of nineTypes | keyvalue">
      <span class="lead">{{ source.key }}</span>
      <div *ngFor="let text of source.value.one">
        {{ text }}
      </div>
    </div>
  
    <h2>Two</h2>
    <div *ngFor="let source of nineTypes | keyvalue">
      <span class="lead">{{ source.key }}</span>
      <div *ngFor="let text of source.value.two">
        {{ text }}
      </div>
    </div> -->

  <div class="row mb-3" *ngIf="nineTypes && sortBy === 'Number'">
    <div
      class="col-12"
      [ngClass]="{
        'col-sm-6': selectedNumbers.length > 1,
        'col-md-4': selectedNumbers.length > 2
      }"
      *ngFor="let selectedNumber of selectedNumbers"
    >
      <ng-container
        *ngTemplateOutlet="numberSet; context: { number: selectedNumber }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-3" *ngIf="nineTypes && sortBy === 'Source'">
    <div
      class="col-12"
      [ngClass]="{
        'col-sm-6': selectedSources.length > 1,
        'col-md-4': selectedSources.length > 2
      }"
      *ngFor="let selectedSource of selectedSources"
    >
      <ng-container
        *ngTemplateOutlet="sourceSet; context: { source: selectedSource }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template let-number="number" #numberSet>
  <div class="mb-3">
    <h3 class="text-center">{{ number }}</h3>
    <div class="number-source" *ngFor="let source of selectedSources">
      <div class="number-row" *ngIf="sourceText(source, number).length === 1">
        <div class="source-side">
          <strong>{{ source }}</strong>
        </div>
        <div class="text-side">
          <div *ngFor="let text of sourceText(source, number)">
            {{ text }}
          </div>
        </div>
      </div>
      <div class="number-list" *ngIf="sourceText(source, number).length > 1">
        <div class="">
          <strong>{{ source }}</strong>
        </div>
        <ul>
          <li *ngFor="let text of sourceText(source, number)">
            {{ text }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template let-source="source" #sourceSet>
  <div class="mb-3">
    <h3 class="text-center">{{ source }}</h3>
    <div class="source-row" *ngFor="let number of selectedNumbers">
      <div class="number-side">
        <strong>{{ number }}</strong>
      </div>
      <div class="text-side">
        <div *ngFor="let text of sourceText(source, number)">
          {{ text }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
