<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="updates">Release Notes</a>
      </li>
      <li class="nav-item float-right">
        <a
          class="nav-link"
          href="http://subjectivepersonality.com/"
          target="_blank"
          >Subjective Personality 
          <i-bs name="box-arrow-up-right" class="ml-1"></i-bs></a
        >
      </li>
    </ul>
  </div>
</nav>
