.navbar {
  /* box-shadow: 0 2px 8px 0 #777; */
  /* background: #333; */
  /* border-bottom: 5px solid; */
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(to right, #3f5efb, #ff3333, #3f5efc); */
  /* border-image-source: linear-gradient(to left, #76b852, #8DC26F, #76b852); */
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
