<nav class="navbar navbar-expand-md">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="analyzer">Analyzer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="updates">Release Notes</a>
      </li>
    </ul>
  </div>
</nav>
