<nav class="navbar navbar-app navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand home-link" routerLink="home">
      <img src="/assets/images/sp-logo-no-bg.png" class="flip" />
      Home
      <img src="/assets/images/sp-logo-no-bg.png" class="flip-reverse" />
    </a>
    <button
      class="navbar-toggler"
      [ngClass]="{ collapsed: headerCollapsed }"
      type="button"
      (click)="headerCollapsed = !headerCollapsed"
      aria-controls="navbarCollapseContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !headerCollapsed }"
    >
      <ul class="navbar-nav mr-auto">
        <ng-container *ngFor="let link of headerLinks">
            <li class="nav-item" *ngIf="!isArray(link)">
              <a class="nav-link" [routerLink]="link.href" *ngIf="!link.ext">
                {{ link.title }}
              </a>
              <a class="nav-link" href="{{ link.href }}" *ngIf="link.ext">
                {{ link.title }}<i-bs name="box-arrow-up-right" class="d-none ml-2"></i-bs>
              </a>
            </li>

            <li class="nav-item dropdown" *ngIf="isArray(link)">
              <button class="btn btn-link nav-link dropdown-toggle" id="navbarDropdownMenuLinkOps"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  (click)="link.toggle=!link.toggle">
                {{link.label}}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLinkOps"
                  [ngClass]="{show: link.toggle === true}">
                <ng-container *ngFor="let innerLink of link.links">
                  <a class="dropdown-item" [routerLink]="innerLink.href" *ngIf="!innerLink.ext"
                  (click)="link.toggle=false">
                    {{ innerLink.title }}
                  </a>
                  <a class="dropdown-item" (click)="openExternal(innerLink.href)" *ngIf="innerLink.ext">
                    {{ innerLink.title }}<i-bs name="box-arrow-up-right" class="d-none ml-2"></i-bs>
                  </a>
                </ng-container>
              </div>
            </li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>
