<div class="footer">
  <div class="container">
    <div>
      The Subjective Personality App is an open source project by Roqb Hosler. You can find more of his
      stuff at:
    </div>
    <div class="navbar navbar-expand">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="http://subjectivepersonality.com"
            target="_blank"
            >SubjectivePersonality</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.youtube.com/channel/UCIbfLuHIY6Ox8dAm6Xidvqw"
            target="_blank"
            >YouTube</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/RobertHosler/ops-type-points"
            target="_blank"
            >Github</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
