.footer {
  margin-top: 30px;
  min-height: 80px;
  text-align: center;
  /* box-shadow: 0 -2px 8px 0 #777; */
  /* border-top: 5px solid; */
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(to right, #3f5efb, #ff3333, #3f5efc); */
  /* border-image-source: linear-gradient(to left, #76b852, #8DC26F, #76b852); */
}
.footer.bg-dark {
  color: #fff;
}
.footer.bg-dark a {
  color: #fff;
  text-decoration: underline;
}
.footer.bg-dark a:hover {
  color: #6af8ff;
}
.footer .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .navbar li {
  position: relative;
}
.footer .navbar li:not(:last-child)::before {
  content: "|";
  right: -1px;
  top: 7px;
  position: absolute;
}

@media (max-width: 500px) {
  .footer .navbar li:not(:last-child)::before {
    display: none;
  }
  .footer .navbar-nav {
    flex-direction: column;
  }
}
