<div class="checklist">
  <div class="mb-3 coin" *ngFor="let coin of coins">
    <h4>{{coin.heading}}</h4>
    <div class="coin-side" *ngFor="let side of coin.sides; let i = index;">
      <div class="coin-row row">
        <div class="col-4 col-sm-2 col-md-1 coin-box">
            {{side.activeLabel ? side.activeLabel : coin.activeSide === i ? 'X' : ''}}
        </div>
        <div class="col-8 col-sm-3 col-md-2 coin-label">
          <div *ngFor="let label of side.labels">{{ label }}</div>
        </div>
        <div class="col-12 col-sm-7 col-md-9 coin-description">
          <div *ngFor="let description of side.description">
            {{ description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
