@import "~src/assets/variables";

.checklist {
  // margin: 0rem 1rem;
}
.checklist-header {
  display: flex;
  justify-content: space-between;
}
.coin {
  h4 {
    margin-top: 1rem;
  }
}

.coin-side {
  padding: 0rem 1rem;
  display: none;
}

.active-side {
  display: block;
}

.coin-row {
  min-height: 50px;
}

//Cell
.coin-box,
.coin-label,
.coin-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $dark;
  margin-left: -1px;
  margin-top: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.coin-box {
  display: none;
}

.coin-label {
  background: #ccc;
  color: $dark;
  text-align: center;
  & > :first-child {
    font-weight: bold;
  }
}

.coin-box {
  text-align: center;
}

.show-all {
  .coin-box {
    display: flex;
  }
  .coin-side {
    display: block;
  }
  .coin {
    margin-bottom: 1rem;
  }
}
