
.consent-banner {
    margin-left: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
    background: #2c0954;
    width: auto;
    max-width: 650px;
    padding: 1.25rem;
    border-radius: .75rem;
    z-index: 999;
}