<div class="component-wrapper">
  <div class="container">
    <div class="img-right img-heading">
      <img src="/assets/images/sp-logo-no-bg.png" />
    </div>
    <h1>OPS Type <span class="sp-branding">Practice</span></h1>
    <p class="lead">Want some Objective Personality Typing Practice?</p>
    <p>
      Select or retrieve someone to type at random from the
      <a
        href="https://subjectivepersonality.wordpress.com/2021/05/07/objective-personality-database/"
        target="_blank"
        >Objective Personality Database</a
      >
      below. Study their interviews and make your best guess at their type.
    </p>
    <div>
      <ul>
        <li>
          You can submit a partial guess, only the parts you submit will be
          graded.
        </li>
        <li>
          You can save the link to the page and return to submit your guess
          later.
        </li>
        <li>
          Refer to the
          <a
            href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit?usp=drive_web&ouid=104557786537846843214"
            target="_blank"
            >Class Notes Document</a
          >
          for information on each of the coins in the form.
        </li>
        <li>
          You can track your results over time using this
          <a
            target="_blank"
            href="https://docs.google.com/spreadsheets/d/1Zlf2xJlK3mCyBEAInCm7T2RxEjLfVLOkflRQ_ftNptA/edit"
            >Tracking Template</a
          >.
        </li>
        <li>
          Notably I've filtered out any speculation, incomplete, or community
          types from the practice subjects, but you can also choose from classes
          only if you don't know them too well yet.
        </li>
        <li>
          Note that the original intention of this database was not for these
          purposes, so some of the subjects in the database may not be well
          suited for typing. Please
          <a
            href="https://subjectivepersonality.wordpress.com/about/contact/"
            target="_blank"
            >contact me</a
          >
          if there are any records you think should be filtered out for practice
          purposes or if you have any suggestions/ideas for improvements.
        </li>
      </ul>
    </div>
    <div class="">
      <div class="mb-3" *ngIf="loading">
        Loading Type Records... Please wait a moment.
      </div>
      <div class="d-inline-block" *ngIf="!loading">
        <button (click)="lookupType()" class="btn btn-primary mb-3 mr-3">
          Get Random Subject
        </button>
        <div class="btn-group mb-3 mr-3" btnRadioGroup [(ngModel)]="classOnly">
          <label class="btn mb-0 btn-secondary" [btnRadio]="false"
            >Full Database</label
          >
          <label class="btn mb-0 btn-secondary" [btnRadio]="true"
            >Class Only</label
          >
        </div>
        <button
          *ngIf="subjectRecord"
          (click)="clearSubject()"
          class="mb-3 btn btn-secondary btn-sm"
        >
          Clear Subject
        </button>
      </div>
    </div>

    <div *ngIf="!loading && !subjectRecord">
      <div class="text-right">
        <button
          (click)="shuffleRecords()"
          class="btn btn-secondary btn-sm mb-3"
        >
          Shuffle Records
        </button>
      </div>
      <app-type-record-list
        [displayPracticeLink]="true"
        [typeRecords]="classOnly ? classOnlyRecords : typeRecords"
      ></app-type-record-list>
    </div>

    <hr *ngIf="subjectRecord" />
    <div class="row mb-3" *ngIf="subjectRecord">
      <div class="col-12 col-md-6">
        <div>
          <div>
            <h2>{{ subjectRecord ? subjectName : "Subject TBD" }}</h2>
          </div>
          <div class="image-wrapper">
            <div
              *ngIf="
                subjectRecord.pictureUrl
              "
              class="image-img mb-3"
            >
              <img [src]="subjectRecord.pictureUrl" height="200px" />
            </div>
          </div>
          <div>
            <div class="d-inline-block mb-3">
              <a
                [href]="getGoogleSearch()"
                target="_blank"
                class="btn btn-sm btn-secondary mr-3"
                >Google Search</a
              >
              <a
                [href]="getImageSearch()"
                target="_blank"
                class="btn btn-sm btn-secondary"
                >Google Images</a
              >
            </div>
            <div class="mb-3">
              <a
                [href]="getInterviewLink()"
                target="_blank"
                class="btn btn-sm btn-secondary"
                >YouTube Interviews</a
              >
              <div class="help small">
                <strong>Tip:</strong> use the filter to show 20+ minute videos only where
                possible
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Coins Form</h2>
        <div class="guess-form" [ngClass]="{ 'show-validation': guessSubmit }">
          <div *ngFor="let coin of coins">
            <div class="btn-group" btnRadioGroup [(ngModel)]="coin.val">
              <label
                class="btn mb-0 btn-left"
                [ngClass]="{
                  'btn-success':
                    coin.validated &&
                    coin.val === coin.left &&
                    coin.leftValidate(subjectOpsType),
                  'btn-failure':
                    coin.validated &&
                    coin.val === coin.left &&
                    coin.rightValidate(subjectOpsType)
                }"
                [btnRadio]="coin.left"
                >{{ coin.left }}</label
              >
              <label class="btn mb-0 btn-middle" btnRadio="">{{
                coin.middle ? coin.middle : "/"
              }}</label>
              <label
                class="btn mb-0 btn-right"
                [ngClass]="{
                  'btn-success':
                    coin.validated &&
                    coin.val === coin.right &&
                    coin.rightValidate(subjectOpsType),
                  'btn-failure':
                    coin.validated &&
                    coin.val === coin.right &&
                    coin.leftValidate(subjectOpsType)
                }"
                [btnRadio]="coin.right"
                >{{ coin.right }}</label
              >
            </div>
          </div>
        </div>
        <div>
          <p>
            <strong>Current Guess:</strong> {{ typeGuess }}
            <span class="alert alert-warning d-block" *ngIf="typeGuessInvalid">
              <span class="d-block">
                <strong>Your current type guess is invalid.</strong></span
              >
              <span class="d-block"
                >Double check the Self/Tribe and Organize/Gather coins align
                with the Consume/Blast and Sleep/Play coins.</span
              >
              <span class="d-block"
                >Tribe (De) + Gather (Oe) = Savior Play (Oe + De)</span
              >
              <span class="d-block"
                >Tribe (De) + Organize (Oi) = Savior Blast (Oi + De)</span
              >
              <span class="d-block"
                >Self (Di) + Gather (Oe) = Savior Consume (Oe + Di)</span
              >
              <span class="d-block"
                >Self (Di) + Organize (Oi) = Savior Sleep (Oi + Di)</span
              >
            </span>
          </p>
        </div>
        <div>
          <button (click)="submitGuess()" class="btn btn-primary mb-3 mr-3">
            Submit Guess
          </button>
          <button
            (click)="showFunctions = !showFunctions"
            class="btn btn-secondary btn-sm mb-3 mr-3"
          >
            {{ showFunctions ? "Hide Shortcuts" : "Show Shortcuts" }}
          </button>
          <button (click)="clearCoins()" class="btn btn-secondary btn-sm mb-3">
            Clear Coins
          </button>
        </div>
        <div class="shortcut-buttons" *ngIf="showFunctions">
          <div
            class="mb-3 mr-3 d-inline-block"
            *ngFor="let buttonGroup of buttonGroups"
          >
            <div class="text-center small">{{ buttonGroup.name }}</div>
            <div class="">
              <button
                class="btn mr-1"
                [ngClass]="{ active: buttonActive(button) }"
                *ngFor="let button of buttonGroup.group"
                (click)="updateButton(button)"
              >
                {{ button.name }}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="validationMessage && validationMessage.length > 0">
          <div *ngFor="let msg of validationMessage">
            {{ msg }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="typeRevealed">
      <hr />
      <div class="text-center">
        <h3>{{ subjectRecord.type }}</h3>
        <a [href]="subjectTypeLink">View in Analyzer</a>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4">
          <div>
            <app-type-bubbles
              class="text-center"
              [showOptions]="false"
              [showType]="false"
              [opsTypes]="[subjectOpsType]"
            ></app-type-bubbles>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <app-type-dashboard [opsType]="subjectOpsType"></app-type-dashboard>
        </div>
      </div>
      <div class="mb-3">
        <app-type-checklist [opsType]="subjectOpsType"></app-type-checklist>
      </div>
    </div>
  </div>

  <div class="bg-gray py-3">
    <div class="container">
      <p><strong>Want to track your guesses?</strong> Try my OPS Tracking Document!</p>
      <div>
        <a
          class="btn btn-primary mr-3"
          href="https://docs.google.com/spreadsheets/d/1Zlf2xJlK3mCyBEAInCm7T2RxEjLfVLOkflRQ_ftNptA/edit"
          target="_blank"
          >Go to Doc</a
        >
        <a
          class="btn btn-sm btn-secondary"
          href="https://youtu.be/VkixpkYa0mM"
          target="_blank"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>
