<p>
    {{apType.sexta}} - {{apSexta.types.join(', ')}}
</p>
<div>
    <p><strong>Results + {{apSexta.results.join(' + ')}}</strong> = A preference to decide quickly and obtain results regarding {{apSexta.resulting}}.</p>
</div>
<div>
    <p><strong>Process + {{apSexta.process.join(' + ')}}</strong> = A preference to process and discuss the complexities of {{apSexta.processing}}.</p>
</div>
<div class="small">
    Learn more the {{apType.sexta}} Sexta at <a [href]="apSexta.link" target="_blank">AttitudinalPsyche.com</a>
</div>