@import "../../assets/variables";

.form-group {
  max-width: 200px;
  /* margin-right: 15px; */
}
label {
  font-weight: bold;
}

.btn-remove {
  padding: 0px 5px;
}

.tab-wrapper {
  margin-bottom: 30px;
}