<div class="container">
  <h1>OPS Type <span class="sp-branding">Analyzer</span></h1>
  <p>
    Enter an OPS type in the specified format to view a dashboard and other
    information pertaining to that type. For a list of valid animal stacks and
    the corresponding saviors see the
    <a
      href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit?usp=drive_web&ouid=104557786537846843214"
      target="_blank"
      >Class Notes Document</a
    >.
  </p>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="row">
      <div class="form-group col-6 col-sm-3">
        <label for="modalities">Modalities</label>
        <input
          id="modalities"
          type="text"
          class="form-control"
          minlength="2"
          maxlength="2"
          required
          [(ngModel)]="modalityString"
          name="modalities"
        />
        <div class="help small">Ex: MM, MF, FF, FM</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-one">Savior One</label>
        <input
          id="savior-one"
          type="text"
          class="form-control"
          minlength="2"
          maxlength="2"
          required
          [(ngModel)]="s1String"
          name="savior1"
        />
        <div class="help small">Ex: Te, Fi, Ne, Si</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-two">Savior Two</label>
        <input
          id="savior-two"
          type="text"
          class="form-control"
          minlength="2"
          maxlength="2"
          required
          [(ngModel)]="s2String"
          name="savior2"
        />
        <div class="help small">Ex: Fe, Ti, Se, Ni</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="animals">Animal Stack</label>
        <input
          id="animals"
          type="text"
          class="form-control"
          minlength="2"
          maxlength="4"
          required
          [(ngModel)]="animalString"
          name="animals"
        />
        <div class="help small">Ex: PCSB, SBPC</div>
      </div>
    </div>
    <div>
      <div class="alert alert-danger" *ngIf="!isValidMod">
        <strong>Modalities Invalid.</strong> Must be one of:
        <span *ngFor="let m of validModalities">{{ m }} </span>
      </div>
      <div class="alert alert-danger" *ngIf="!isValidSaviors">
        <strong>Saviors Invalid.</strong>
        <div>
          Must include one decider (
          <span *ngFor="let d of validDeciders">{{ d }} </span>) and one
          observer ( <span *ngFor="let o of validObservers">{{ o }} </span>).
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!isValidAnimals">
        <strong>Animal Stack Invalid.</strong> See the
        <a
          href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit?usp=drive_web&ouid=104557786537846843214"
          target="_blank"
          >Class Notes Document</a
        >
        for a list of valid animals stacks.
        <div>
          Also remember that Play and Sleep cannot be in the first two animals
          together. The same is true for Blast and Consume.
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!typeValid">
        <strong>Type Invalid.</strong> Savior functions must match the first
        animal. See the
        <a
          href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit?usp=drive_web&ouid=104557786537846843214"
          target="_blank"
          >Class Notes Document</a
        >
        for a list of valid animals stacks and their corresponding savior
        functions.
        <div>
          For instance, Ti Ne SCPB is not valid since TiNe is a lead consume
          type, but Ti Si SCPB is valid since TiSi is a lead sleep type.
        </div>
      </div>
    </div>
    <div class="mb-2">
      <button class="btn btn-primary mr-3" type="submit">Submit</button>
      <button class="btn btn-secondary mr-3" type="button" (click)="onClear()">
        Clear
      </button>
      <button class="btn btn-secondary" type="button" (click)="copyLinkTo()">
        Copy Link
      </button>
    </div>
    <div>
      <label>
        <input
          type="checkbox"
          [checked]="compare"
          (change)="compare = !compare"
        />
        Compare Types
      </label>
    </div>
    <div *ngIf="opsTypes.length > 1">
      <div *ngFor="let type of opsTypes; index as i">
        {{ type.opsCode }}
        <button
          class="btn btn-danger btn-remove"
          type="button"
          (click)="onRemoveOpsType(i)"
        >
          X
        </button>
      </div>
    </div>
  </form>

  <hr />

  <div *ngIf="opsTypes.length > 0" class="mt-3">
    <tabset>
      <tab heading="Dashboard">
        <h2>OPS Dashboard</h2>
        <p>
          For more about OPS Dashboards, see my article at
          <a
            href="https://subjectivepersonality.wordpress.com/2020/06/30/ops-dashboards/"
            target="_blank"
            >SubjectivePersonality.com<i-bs
              name="box-arrow-up-right"
              class="ml-1"
            ></i-bs></a
          >.
        </p>
        <div *ngFor="let type of opsTypes; index as i">
          <div class="text-center">{{ type.opsCode }}</div>
          <app-type-dashboard [index]="i"></app-type-dashboard>
        </div>
      </tab>
      <tab heading="Description">
        <app-type-description></app-type-description>
      </tab>
      <tab heading="Emoji">
        <app-type-animal></app-type-animal>
      </tab>
      <tab heading="Points">
        <app-type-points></app-type-points>
      </tab>
      <tab heading="Visual">
        <app-type-visual></app-type-visual>
      </tab>
    </tabset>
  </div>
</div>
