<div>
  <h1>OPS Type Analyzer</h1>
  <p>
    Enter an OPS type in the specified format to view a dashboard and other
    information pertaining to that type.
  </p>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row">
      <div class="form-group col-6 col-sm-3">
        <label for="modalities">Modalities</label>
        <input
          id="modalities"
          type="text"
          class="form-control"
          [(ngModel)]="modalityString"
          name="modalities"
        />
        <div class="help small">Ex: MM, MF, FF, FM</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-one">Savior One</label>
        <input
          id="savior-one"
          type="text"
          class="form-control"
          [(ngModel)]="s1String"
          name="savior1"
        />
        <div class="help small">Ex: Te, Fi, Ne, Si</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-two">Savior Two</label>
        <input
          id="savior-two"
          type="text"
          class="form-control"
          [(ngModel)]="s2String"
          name="savior2"
        />
        <div class="help small">Ex: Fe, Ti, Se, Ni</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="animals">Animal Stack</label>
        <input
          id="animals"
          type="text"
          class="form-control"
          [(ngModel)]="animalString"
          name="animals"
        />
        <div class="help small">Ex: PCSB, SBPC</div>
      </div>
    </div>
    <div class="row d-none">
      <div class="form-group col-6 col-sm-3">
        <label for="modalities">Modalities</label>
        <input
          id="modalitiesb"
          type="text"
          class="form-control"
          [(ngModel)]="modalityStringB"
          name="modalitiesb"
        />
        <div class="help small">Ex: MM, MF, FF, FM</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-one">Savior One</label>
        <input
          id="savior-oneb"
          type="text"
          class="form-control"
          [(ngModel)]="s1StringB"
          name="savior1b"
        />
        <div class="help small">Ex: Te, Fi, Ne, Si</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="savior-two">Savior Two</label>
        <input
          id="savior-twob"
          type="text"
          class="form-control"
          [(ngModel)]="s2StringB"
          name="savior2b"
        />
        <div class="help small">Ex: Fe, Ti, Se, Ni</div>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="animals">Animal Stack</label>
        <input
          id="animalsb"
          type="text"
          class="form-control"
          [(ngModel)]="animalStringB"
          name="animalsb"
        />
        <div class="help small">Ex: PCSB, SBPC</div>
      </div>
    </div>
    <p class="help small">
      Note: There is currently <strong>no validation</strong> on this
      application and you must enter your info in the specified format. Casing
      is important.<br />
      FF works, ff does not. Fe works fe does not. PCSB works, PC/S(B) does not.
      <br />
      The animal order entered must must match with the saviors. For instance,
      FF Ti Ne SCPB is not valid. FF Ti Si SCPB is. <br />For a list of valid
      animal orders and the corresponding saviors see the
      <a
        href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit?usp=drive_web&ouid=104557786537846843214"
        target="_blank"
        >Class Notes Doc</a
      >.
    </p>
    <div>
      <button class="btn btn-primary mr-3" type="submit">Submit</button>
      <button class="btn btn-secondary mr-3" type="button" (click)="onClear()">
        Clear
      </button>
      <button class="btn btn-secondary" type="button" (click)="copyLinkTo()">
        Copy Link
      </button>
    </div>
  </form>

  <hr />

  <div *ngIf="functions.length > 0" class="mt-3">
    <tabset>
      <tab heading="Dashboard">
        <div>
          <app-type-dashboard
            [functions]="functions"
            [animals]="animals"
          ></app-type-dashboard>
        </div>
        <div *ngIf="opsCodeB">
          <app-type-dashboard
            [functions]="functionsB"
            [animals]="animalsB"
          ></app-type-dashboard>
        </div>
      </tab>
      <tab heading="Description">
        <app-type-description
          [mod]="modalityString"
          [s1]="s1String"
          [s2]="s2String"
          [animals]="animalString"
        ></app-type-description>
      </tab>
      <tab heading="Emoji">
        <app-type-animal></app-type-animal>
      </tab>
      <tab heading="Points">
        <app-type-points
          [functions]="functions"
          [animals]="animals"
        ></app-type-points>
      </tab>
      <tab heading="Visual">
        <app-type-visual [opsCode]="opsCode"> </app-type-visual>
      </tab>
    </tabset>
  </div>
</div>
