.form-group {
  width: 150px;
  margin-right: 15px;
}
.help {
  color: #666;
}
label {
  font-weight: bold;
}
tab {
    padding: 15px;
    background: #ecffff;
    border-bottom:  1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left:  1px solid #ccc;
    min-height: 300px;
}