@import "~src/assets/variables";

.source-row {
  display: flex;
  .number-side {
    width: 75px;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.25rem;
  }
  .text-side {
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    div {
      padding: .25rem .5rem;
    }
    div:not(:last-child) {
      border-bottom: 1px solid $cad-orange;
    }
  }
}
.source-row:nth-child(even) {
  background-color: #ccc;
}
.source-row:not(:last-child),
.number-source:not(:last-child) {
  border-bottom: 1px solid $cad-orange;
}
.number-row {
  display: flex;
  .source-side {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.25rem;
  }
  .text-side {
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
}
.number-list {
  padding: 0.25rem;
  ul {
      padding-left: 1.5rem;
  }
}
