.bubble-wrapper {
  position: relative;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
  width: 150px;
}
.visual-wrapper {
  margin-top: 15px;
  padding: 15px 0px;
  position: relative;
  width: 250px;
  border: 1px solid black;
  background: #ccc;
  background: white;
  border-radius: 10px;
}

.function {
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  z-index: 10;
}

.animal-num {
  /* border: 1px solid black; */
  background: #ccc;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  line-height: 25px;
  width: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
}
.animal-text {
  display: none;
  line-height: 25px;
}
.shadows .animal-num {
  display: none;
}
.shadows .animal-text {
  display: block;
}
.opti-code {
  border: 1px solid black;
  background: #ccc;
  padding-left: 5px;
  padding-right: 5px;
}
.shadows .opti-code {
  /* box-shadow: -1px 1px 5px #333; */
}
.animal-C {
  text-align: center;
  display: block;
  margin-top: -10px;
}
.animal-B {
  text-align: center;
  display: block;
  margin-bottom: -10px;
}
.animal-P {
  position: absolute;
  top: 90px;
  right: 10px;
}
.animal-S {
  position: absolute;
  top: 90px;
  left: 10px;
}
.savior-S1,
.saviorA-S1 {
  font-weight: 700;
  font-size: 20px;
}
.savior-S2,
.saviorA-S2 {
  font-weight: 600;
  font-size: 18px;
}
.savior-A,
.saviorA-A {
  font-weight: 500;
  font-size: 15px;
}
.savior--,
.saviorA-- {
  font-weight: 400;
  font-size: 12px;
}

.mod-M {
  border: 1px solid black;
  /* font-weight: 700px; */
}
.shadows .mod-M {
  border: none;
}
.mod-F {
  /* border: 2px solid #ccc; */
  /* box-shadow: 0px 2px 5px #666; */
}
.mod-bold .animal-mod-MM {
  font-weight: 700;
}
.mod-bold .animal-mod-MF {
  font-weight: 500;
}
.mod-bold .animal-mod-FM {
  font-weight: 500;
}
.mod-bold .animal-mod-FF {
  font-weight: 350;
}

.inner-function {
  border-radius: 50px;
}
.sizing-grant .grant-1,
.sizing-adam .savior-S1,
.sizing-adam .inner-savior-S1,
.sizing-activation .savior-S1,
.sizing-activation .inner-savior-S1 {
  font-size: 24px;
  line-height: 60px;
  height: 60px;
  width: 60px;
}
.shadows .function.savior-S1 {
  box-shadow: -5px 5px 10px #333;
}
.shadows .inner-savior-S1 {
  box-shadow: inset 5px -5px 10px #777;
}
.shadows .mod-M .inner-savior-S1 {
  box-shadow: inset 5px -5px 12px #000;
}
.sizing-grant .grant-2,
.sizing-adam .savior-S2,
.sizing-adam .inner-savior-S2,
.sizing-activation .savior-S2,
.sizing-activation .inner-savior-S2 {
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 50px;
}
.shadows .function.savior-S2 {
  box-shadow: -4px 4px 8px #333;
}
.shadows .inner-savior-S2 {
  box-shadow: inset 4px -4px 8px #777;
}
.shadows .mod-M .inner-savior-S2 {
  box-shadow: inset 4px -4px 10px #000;
}
.sizing-adam .grant-2:not(.savior-S2),
.sizing-adam .grant-3:not(.savior-S2),
.sizing-grant .grant-3,
.sizing-activation .savior-A,
.sizing-activation .inner-savior-A {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  width: 40px;
}
.shadows .function.savior-A {
  box-shadow: -3px 3px 6px #333;
}
.shadows .inner-savior-A {
  box-shadow: inset 3px -3px 6px #777;
}
.shadows .mod-M .inner-savior-A {
  box-shadow: inset 3px -3px 8px #000;
}
.sizing-adam .grant-4,
.sizing-grant .grant-4,
.sizing-activation .savior--,
.sizing-activation .inner-savior-- {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 30px;
}
.shadows .function.savior-- {
  box-shadow: -2px 2px 4px #333;
}
.shadows .inner-savior-- {
  box-shadow: inset 2px -2px 4px #777;
}
.shadows .mod-M .inner-savior-- {
  box-shadow: inset 2px -2px 6px #000;
}

/* Top Right */
.need-De {
  bottom: 80px;
  left: 80px;
}
.need-De.savior-S1 {
  margin-top: 0px;
  margin-left: 0px;
}
.need-De.savior-S2 {
  margin-top: 0px;
  margin-left: 0px;
}
.need-De.savior-A {
  margin-top: 0px;
  margin-left: 0px;
}
.need-De.savior-- {
  margin-top: 0px;
  margin-left: 0px;
}
/* Bottom Left */
.need-Di {
  top: 80px;
  right: 80px;
}
.need-Di.savior-S1 {
  margin-top: 0px;
  margin-right: 0px;
}
.need-Di.savior-S2 {
  margin-top: 0px;
  margin-right: 0px;
}
.need-Di.savior-A {
  margin-top: 0px;
  margin-right: 0px;
}
.need-Di.savior-- {
  margin-top: 0px;
  margin-right: 0px;
}
/* Bottom Right */
.need-Oe {
  top: 80px;
  left: 80px;
}
.need-Oe.savior-S1 {
  margin-top: 0px;
  margin-left: 0px;
}
.need-Oe.savior-S2 {
  margin-top: 0px;
  margin-left: 0px;
}
.need-Oe.savior-A {
  margin-top: 0px;
  margin-left: 0px;
}
.need-Oe.savior-- {
  margin-top: 0px;
  margin-left: 0px;
}
/* Top Left */
.need-Oi {
  bottom: 80px;
  right: 80px;
}
.need-Oi.savior-S1 {
  margin-bottom: 0px;
  margin-right: 0px;
}
.need-Oi.savior-S2 {
  margin-bottom: 0px;
  margin-right: 0px;
}
.need-Oi.savior-A {
  margin-bottom: 0px;
  margin-right: 0px;
}
.need-Oi.savior-- {
  margin-bottom: 0px;
  margin-right: 0px;
}

.function.letter-F,
.function.feeling {
  /* background: #f75e4e; */
  /* background: #f10d40; */
  background: #ff3e69;
}

.function.letter-N,
.function.intuition {
  background: #f1cc0c;
}

.function.letter-S,
.function.sensing {
  background: #31b546;
}

.function.letter-T,
.function.thinking {
  background: #0baef1;
}

.decider-line,
.observer-line {
  border-top: 2px solid black;
  position: absolute;
  width: 50px;
  height: 2px;
  top: 74px;
  left: 50px;
}
.shadows .decider-line,
.shadows .observer-line {
  box-shadow: -2px 2px 4px #333;
}
.decider-line {
  transform: rotate(-45deg);
}
.observer-line {
  transform: rotate(45deg);
}
