<h2>Type Molecule</h2>
<p>
  Below is a visual representation unique to this type. The size of the bubbles
  is slightly configurable below, but the main emphasis is on demonstrating the
  relative weights with which the type uses the function. So the savior
  functions will be the largest and the demon functions will be the smallest.
</p>
<p>
  Masculine and Feminine functions are represented with a darker shadow over
  the masculine functions and a lighter shadow over the feminine.
</p>
<p>
  The bubbles are always laid out corresponding to the Animals on the edge of the
  visual.  Thus you can tell the relative strength of each animal based on how 
  large the bubbles are toward that animal.
</p>

<app-type-bubbles></app-type-bubbles>
