<h2>Type Decription</h2>
<p class="small">
  Below is a type description specific to this type based on the
  <a
    href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit"
    target="_blank"
    >Class Notes Document</a
  >
  and
  <a
    href="https://objectivepersonality.squarespace.com/beginner-series"
    target="_blank"
    >Beginner Series</a
  >
  made by Dave and Shannon of Objective Personality.
</p>

<h3>Human Needs</h3>
<p>
  <span *ngFor="let text of needDescription">
    {{ text }}
  </span>
</p>

<h3>Animals</h3>
<p>
  <span *ngFor="let text of animalDescription">
    {{ text }}
  </span>
</p>

<h3>Modalities</h3>
<p>
  <span *ngFor="let text of modDescription">
    {{ text }}
  </span>
</p>
