<h2>Type Decription</h2>
<p>
  Below is a type description specific to the type {{ opsType.opsCode }} based
  on the
  <a
    href="https://docs.google.com/document/d/1aLrwLdhvOGIF-fdouUxAxJ_5tlt6mgu_NBnXaN4N_JU/edit"
    target="_blank"
    >Class Notes Document</a
  >
  and
  <a
    href="https://objectivepersonality.squarespace.com/beginner-series"
    target="_blank"
    >Beginner Series</a
  >
  made by Dave and Shannon of Objective Personality. Note that type descriptions
  do not currently support comparisons between types.
</p>

<h3>Human Needs</h3>
<div>
  <p id="observer-decider">
    <ng-container *ngIf="opsType.decider">
      Since this type is a <a href="https://subjectivepersonality.wordpress.com/foundations/ops-starter-kit/do-you-focus-on-things-or-people/"
        target="_blank">Single Decider</a>, they will be relatively balanced with
      control and chaos, but feel stuck when it comes to self and tribe. The
      ability to move back and forth on Observations is what is called <em>Double
      Observing</em> and deciders are also considered <em>Double Observers</em>. This means
      they will be able to observe the facts and abstract patterns in a relative
      balance, compared to their ability to make decisions with values and
      reasons. </ng-container
    >
    <ng-container *ngIf="!opsType.decider"
      >Since this type is an <a href="https://subjectivepersonality.wordpress.com/foundations/ops-starter-kit/do-you-focus-on-things-or-people/"
      target="_blank">Single Observer</a>, they will be relatively balanced with
      self and tribe, but feel stuck when it comes to control and chaos. The
      ability to move back and forth on decisions is what is called <em>Double
      Deciding</em> and observers are also considered <em>Double Deciders</em>. This means
      they will be able to decide for themselves and for the tribe in a relative
      balance, compared to their ability to observe and deal with control and
      chaos. </ng-container
    >
  </p>
  <p id="self-tribe">
    <ng-container *ngIf="!opsType.diSavior">
      Having an extroverted decider, this type will be responsible for the human
      need of community and connection (tribe) rather than the human need of
      identity and significance (self).

    </ng-container>
  </p>
  <p *ngFor="let text of needDescription">
    {{ text }}
  </p>
</div>

<h3>Animals</h3>
<div>
  <p *ngFor="let text of animalDescription">
    {{ text }}
  </p>
</div>

<h3>Modalities</h3>
<div>
  <p *ngFor="let text of modDescription">
    {{ text }}
  </p>
</div>
