@import "../../assets/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.aspect-name {
    font-weight: bold;
}
.aspect-position {
    font-size: .9rem;
}
.aspect-subtype {
    font-size: .9rem;
}

thead {
    background-color: #ccc;
    th {
        border-bottom: 2px solid $dark;
    }
}
th, td {
    padding: .25rem;
    text-align: center;
}
td:first-child {
    background-color: #ccc;
    vertical-align: middle;
}
td,
td.light-bg {
    background-color: #ddd;
}
.emphasized {
    background-color: $emphasize-green;
}
.obscured {
    background-color: $obscure-blue;
}
.results {
    background-color: #f5f5a5;
}
.process {
    background-color: #ffd8b2;
}
.table-wrapper {
    overflow: auto;
}
tr.aspect-row {
    border-top: 2px solid $dark;
}

@include media-breakpoint-down("xs", $grid-breakpoints) {
    table {
        font-size: .8rem;
    }
    .aspect-extra {
        display: none;
    }
}

.subtype-description-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subtype-description {
    padding: .25rem;
    font-size: .8rem;
}
.subtype-name {
    vertical-align: middle;
}
.subtype-type {
    font-size: .8rem;
}