@import "../../assets/variables";

.instinct-table {
    width: 100%;
  td {
    border: 1px solid;
    min-width: 50px;
    padding: 0.25rem 0.5rem;
  }
  td:first-child {
    text-align: center;
    color: $dark;
    background: #ccc;
  }
  .stack {
    width: 150px;
  }
}
