<div>
  <h2>Function Points Table</h2>
  <p>
    Points calculated for each function based on Modality, Grant Order,
    Activation Count, and Savior Status (see dashboard). Points are largely a
    relative representation of how balanced a type is with their given
    functions. Its building off the idea of the activated column in the
    dashboard but acknowledging that saviors and the grant function order still
    matter.
  </p>
  <div class="table-wrapper mt-3 mb-3" *ngFor="let opsType of opsTypes; index as i">
    <div class="text-center">{{ opsType.opsCode }}</div>
    <table
      class="table dashboard-table"
      [ngClass]="{ 'full-table': displayFullTable }"
    >
      <thead>
        <th>Function</th>
        <th [ngClass]="{ 'd-none': !displayFullTable }">Modality</th>
        <th [ngClass]="{ 'd-none': !displayFullTable }">Grant</th>
        <th [ngClass]="{ 'd-none': !displayFullTable }">Activation</th>
        <th [ngClass]="{ 'd-none': !displayFullTable }">Savior</th>
        <th [ngClass]="{ 'd-none': !displayFullTable }">Animal</th>
        <th>Total</th>
        <th>Percentage</th>
      </thead>
      <tbody>
        <tr *ngFor="let function of opsType.functions; index as i">
          <td>{{ function.name }}</td>
          <td [ngClass]="{ 'd-none': !displayFullTable }">
            {{ function.modalityPoints }}
          </td>
          <td [ngClass]="{ 'd-none': !displayFullTable }">
            {{ function.grantPoints }}
          </td>
          <td [ngClass]="{ 'd-none': !displayFullTable }">
            {{ function.activationPoints }}
          </td>
          <td [ngClass]="{ 'd-none': !displayFullTable }">
            {{ function.saviorPoints }}
          </td>
          <td [ngClass]="{ 'd-none': !displayFullTable }">
            {{ function.animalPoints }}
          </td>
          <td [ngClass]="{ highlight: displayFullTable }">
            {{ function.totalPoints }}
          </td>
          <td class="highlight">{{ function.pointPercentage }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button
      type="button"
      (click)="displayFullTable = !displayFullTable"
      class="btn btn-secondary mr-3"
    >
      {{ displayFullTable ? "Hide Breakdown" : "Show Breakdown" }}
    </button>
    <button
      type="button"
      class="btn btn-secondary mr-3"
      (click)="configureOptions = !configureOptions"
    >
      {{ !configureOptions ? "Customize" : "Hide Customize" }}
    </button>
  </div>

  <div *ngIf="configureOptions" class="point-config">
    <div class="mt-3">
      <h3>Customize Point Values</h3>
      <p>
        Customize the weights and factors used to calculate the function points
        above. Points are calculated for each option by multipling the weight
        with the factor. After you update the values, click the reassign points
        button above to update the table.
      </p>
    </div>

    <tabset>
      <tab heading="Modality">
        <p>
          Masculine functions tend to appear more obviously in a type since they
          are punchier and what is sticking with a type.
        </p>
        <table>
          <thead>
            <th>Label</th>
            <th>Factor</th>
            <th>Points</th>
          </thead>
          <tbody>
            <tr *ngFor="let mo of modalityOptions; index as i">
              <td>{{ mo.label }}</td>
              <td>
                <input
                  id="mo{{ i }}"
                  type="text"
                  class="form-control"
                  [(ngModel)]="mo.factor"
                />
              </td>
              <td>{{ mo.factor * modalityWeight }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="2">
                <input
                  id="modalityWeight"
                  type="text"
                  class="form-control"
                  [(ngModel)]="modalityWeight"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="assignPoints()" class="btn btn-primary">
          Update
        </button>
      </tab>
      <tab heading="Activation">
        <p>
          Functions used within the first 3 animals tend to be more visible
          within a type since they are more willing to engage with those
          functions through those animals. This is part of the reason Glass
          Lizard types (those with a single activated first savior and double
          activated inferior) can be difficult to type.
        </p>
        <table>
          <thead>
            <th>Label</th>
            <th>Factor</th>
            <th>Points</th>
          </thead>
          <tbody>
            <tr *ngFor="let mo of activationOptions; index as i">
              <td>{{ mo.number }}</td>
              <td>
                <input
                  id="mo{{ i }}"
                  type="text"
                  class="form-control"
                  [(ngModel)]="mo.factor"
                />
              </td>
              <td>{{ mo.factor * activationWeight }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="activationWeight"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="assignPoints()" class="btn btn-primary">
          Update
        </button>
      </tab>
      <tab heading="Grant Order">
        <p>
          Dave and Shannon have acknowledged there is still a significance to
          the more traditional Grant stack ordering of the functions even in
          'jumpers'.
        </p>
        <table>
          <thead>
            <th>Label</th>
            <th>Factor</th>
            <th>Points</th>
          </thead>
          <tbody>
            <tr *ngFor="let opt of grantOptions; index as i">
              <td>{{ opt.number }}</td>
              <td>
                <input
                  id="mo{{ i }}"
                  type="text"
                  class="form-control"
                  [(ngModel)]="opt.factor"
                />
              </td>
              <td>{{ opt.factor * grantWeight }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="grantWeight"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="assignPoints()" class="btn btn-primary">
          Update
        </button>
      </tab>
      <tab heading="Savior State">
        <p>
          Compounding on the Animal Activation, this factor gives greater weight
          to your first savior, slightly less to your second savior, and
          function activated by a savior animal, and applies the lowest weight
          to the function not activated in a savior state. This is the currently
          given the greatest weight for pointing.
        </p>
        <table>
          <thead>
            <th>Label</th>
            <th>Factor</th>
            <th>Points</th>
          </thead>
          <tbody>
            <tr *ngFor="let mo of saviorOptions; index as i">
              <td>{{ mo.option }}</td>
              <td>
                <input
                  id="mo{{ i }}"
                  type="text"
                  class="form-control"
                  [(ngModel)]="mo.factor"
                />
              </td>
              <td>{{ mo.factor * saviorWeight }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="saviorWeight"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="assignPoints()" class="btn btn-primary">
          Update
        </button>
      </tab>
      <tab heading="Animal Order">
        <p>
          Animals distribute points to the functions used within them. Each
          function will receive a variable amount of points from each animal
          depending on whether that animal is a savior, activated, or missing.
          Note that since this is essentially an enhanced version of activation
          counting, it makes sense to give activation no weight when using this
          factor.
        </p>
        <table>
          <thead>
            <th>Label</th>
            <th>Factor</th>
            <th>Points</th>
          </thead>
          <tbody>
            <tr *ngFor="let op of animalOptions; index as i">
              <td>{{ op.option }}</td>
              <td>
                <input
                  id="mo{{ i }}"
                  type="text"
                  class="form-control"
                  [(ngModel)]="op.factor"
                />
              </td>
              <td>{{ op.factor * animalWeight }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="animalWeight"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="assignPoints()" class="btn btn-primary">
          Update
        </button>
      </tab>
    </tabset>

    <div class="mt-3">
      <button
        type="button"
        (click)="assignNew()"
        class="btn btn-secondary mr-3"
      >
        Assign New Point Values
      </button>
      <button
        type="button"
        (click)="assignDefault()"
        class="btn btn-secondary mr-3"
      >
        Assign Old Point Values
      </button>
    </div>
  </div>
</div>
