<div class="container mt-3">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="d-flex">
      <div class="form-group">
        <label for="modalities">Modalities</label>
        <input
          id="modalities"
          type="text"
          class="form-control"
          ngModel
          name="modalities"
        />
      </div>
      <div class="form-group">
        <label for="savior-one">Savior One</label>
        <input
          id="savior-one"
          type="text"
          class="form-control"
          ngModel
          name="savior1"
        />
      </div>
      <div class="form-group">
        <label for="savior-two">Savior Two</label>
        <input
          id="savior-two"
          type="text"
          class="form-control"
          ngModel
          name="savior2"
        />
      </div>
      <div class="form-group">
        <label for="animals">Animal Stack</label>
        <input
          id="animals"
          type="text"
          class="form-control"
          ngModel
          name="animals"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

  <div *ngIf="functions.length > 0">
    <table class="table mt-3">
      <thead>
        <th>Activation</th>
        <th>Modality</th>
        <th>Function</th>
        <th>Saviors</th>
        <th>Saviors</th>
        <th>Animals</th>
      </thead>
      <tbody>
        <tr *ngFor="let function of functions; index as i">
          <td>{{ function.activation }}</td>
          <td>{{ function.modality }}</td>
          <td>{{ function.name }}</td>
          <td>{{ function.savior }}</td>
          <td>{{ animals[i].savior }}</td>
          <td>{{ animals[i].animal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
