<div>
  <app-header></app-header>
</div>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>

<div class="footer bg-dark">
  <div class="container">
    <div>
      OPS Type Analyzer is a Roqb Hosler production.  You can find more of his stuff at:
    </div>
    <div class="navbar navbar-expand">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="http://subjectivepersonality.com" target="_blank">SubjectivePersonality</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCIbfLuHIY6Ox8dAm6Xidvqw" target="_blank">YouTube</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/RobertHosler/" target="_blank">Github</a></li>
      </ul>
    </div>
    <div>
      You won't believe it, but you can even check out this project on <a href="https://github.com/RobertHosler/ops-type-points" target="_blank">Github</a>.
    </div>
  </div>
</div>
