<div class="container mt-3">
  <h1>OPS Type Analyzer</h1>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="d-flex">
      <div class="form-group">
        <label for="modalities">Modalities</label>
        <input
          id="modalities"
          type="text"
          class="form-control"
          [(ngModel)]="modalityString"
          name="modalities"
        />
        <div class="help small">Ex: MF, FF</div>
      </div>
      <div class="form-group">
        <label for="savior-one">Savior One</label>
        <input
          id="savior-one"
          type="text"
          class="form-control"
          [(ngModel)]="s1String"
          name="savior1"
        />
        <div class="help small">Ex: Te, Fi, Ne, Si</div>
      </div>
      <div class="form-group">
        <label for="savior-two">Savior Two</label>
        <input
          id="savior-two"
          type="text"
          class="form-control"
          [(ngModel)]="s2String"
          name="savior2"
        />
        <div class="help small">Ex: Fe, Ti, Se, Ni</div>
      </div>
      <div class="form-group">
        <label for="animals">Animal Stack</label>
        <input
          id="animals"
          type="text"
          class="form-control"
          [(ngModel)]="animalString"
          name="animals"
        />
        <div class="help small">Ex: PCSB, SBPC</div>
      </div>
    </div>
    <p class="help small">
      Note: There is currently no validation on this application and you must enter your info in the specified format.  Casing is important.<br>
      FF works, ff does not. Fe works fe does not. PCSB works, PC/S(B) does not.
    </p>
    <div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

  <div *ngIf="functions.length > 0" class="mt-5">
    <h2>OPS Dashboard</h2>
    <p>For more about OPS Dashboards, see my article at
      <a href="https://subjectivepersonality.wordpress.com/2020/06/30/ops-dashboards/" target="_blank">SubjectivePersonality.com</a>.
    </p>
    <table class="table mt-3">
      <thead>
        <th>Activation</th>
        <th>Modality</th>
        <th>Function</th>
        <th>Saviors</th>
        <th>Saviors</th>
        <th>Animals</th>
      </thead>
      <tbody>
        <tr *ngFor="let function of functions; index as i">
          <td>{{ function.activation }}</td>
          <td>{{ function.modality }}</td>
          <td>{{ function.name }}</td>
          <td>{{ function.savior }}</td>
          <td>{{ animals[i].savior }}</td>
          <td>{{ animals[i].animal }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="functions.length > 0">
    <app-type-points [functions]="functions"></app-type-points>
  </div>
</div>
