.strong {
    font-weight: bold;
}

.animal-column {
    text-align: center;
}

.e-box {
    background-color: blue;
    color: white;
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.active {
    border: 1px solid black;
    border-radius: 10px;
}

.animal-box {
    display: inline-block;
    padding: 5px;
}

h3,
.h3 {
    font-size: 1.25rem;
}