@import "../../../assets/variables";

.strong {
    font-weight: bold;
}

.animal-column {
    text-align: center;
    margin-bottom: 20px;
}

.e-box {
    background-color: blue;
    color: white;
    display: inline-block;
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 22px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid $dark;
}

.active {
    border: 1px solid $dark;
    border-radius: 10px;
}

.animal-box {
    display: inline-block;
    padding: 5px;
}

h3,
.h3 {
    /* font-size: 1.25rem; */
}

.sleep {

}

.consume {
    
}

.blast {

}

.play {

}

.dark-mode {
  .active {
    border: 1px solid $light;
    border-radius: 10px;
  }
  .e-box {
    border: 1px solid $light;
  }
}