<div class="container py-3">
  <div *ngIf="!authenticated">
    <div *ngIf="authMsg" class="alert alert-danger">
      {{ authMsg }}
    </div>
    <div>Please authenticate</div>
    <input class="form-control mb-2" type="password" [(ngModel)]="pw" />
    <button class="btn btn-primary mb-2" (click)="auth()">Submit</button>
  </div>

  <div *ngIf="authenticated">
    <h1>Admin</h1>

    <div class="mb-3">
      <div>Refresh the server's mapped databases.</div>
      <button
        class="btn btn-primary mb-2"
        (click)="refresh()"
        [disabled]="refreshing"
      >
        Refresh
      </button>

      <div
        *ngIf="refreshMsg"
        class="alert"
        [ngClass]="{
          'alert-warning': refreshing,
          'alert-success': !refreshing
        }"
      >
        {{ refreshMsg }}
      </div>
    </div>

    <div class="mb-3">
      <div>Compare Ennea Sources</div>
      <button
        class="btn btn-primary mb-2"
        (click)="compareEnnea()"
        [disabled]="comparingEnnea"
      >
        Compare
      </button>
      <div *ngIf="enneaDifferences">
        <div>
          <div>Db Exclusives</div>
          <div
            class="ennea-difference"
            *ngFor="let dbExclusive of enneaDifferences.exclusiveToDb"
          >
            {{ dbExclusive.name }}<br />
            {{ dbExclusive.instinct }}|{{dbExclusive.eType}}|{{dbExclusive.trifix}}
          </div>
        </div>
        <div>
          <div>Scrape Exclusives</div>
          <div
            class="ennea-difference"
            *ngFor="let scrapeExclusive of enneaDifferences.exclusiveToScrape"
          >
            {{ scrapeExclusive.name }}<br />
            {{ scrapeExclusive.instinct }}|{{scrapeExclusive.type}}|{{scrapeExclusive.trifix}}
          </div>
        </div>
        <div>
          <div>Type Mismatches</div>
          <div
            class="ennea-difference"
            *ngFor="let mismatch of enneaDifferences.typeMismatch"
          >
            {{ mismatch.name }}<br />
            {{ mismatch.t1 }}<br />
            {{ mismatch.t2 }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div>Find similar names</div>
      <button
        class="btn btn-primary mb-2"
        (click)="findSimilarNames2(6)"
        [disabled]="finding"
      >
        Find
      </button>
      <div>
        <div *ngFor="let names of similarNames | keyvalue">
          <div *ngFor="let name of names.value.arr">
            <!-- <span
              *ngFor="let s of name.split(' ')"
              [ngClass]="{ 'd-none': s.term.toLowerCase() == names.key }"
            >
              <span>
                {{ s }}
              </span>
            </span> -->
            <div>
              <strong>{{ names.key }} - {{ name.term }}</strong>
            </div>
            <span class="similar-name">{{ name.s1 }}</span
            ><span class="similar-name">{{ name.s2 }} </span>
            <div>
              {{ "{ n1: '" + name.n1 + "', n2: '" + name.n2 + "' }," }}
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div>Find similar names 3.0</div>
      <button
        class="btn btn-primary mb-2"
        (click)="findSimilarNames3(testArray)"
        [disabled]="finding"
      >
        Find
      </button>
      <div *ngIf="findMsg">
        {{ findMsg }}
      </div>
      <div>
        <div *ngFor="let record of similarRecords">
          <div>
            <span class="mr-1" *ngFor="let match of record.matches">
              {{ match.s1 === match.s2 ? match.s1 : match.s1 + "|" + match.s2 }}
            </span>
          </div>
          {{ record.n1 + " \<-> " + record.n2 }}
          <hr />
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div>Find similar names 4.0</div>
      <div>
        <span>
          Threshold
          <input [(ngModel)]="threshold"
        /></span>
        <span>
          <label for="pictures"
            >Skip Pictures
            <input
              id="pictures"
              type="checkbox"
              [(ngModel)]="skipPictures" /></label
        ></span>
        <span>
          <label for="community"
            >Skip Community
            <input
              id="community"
              type="checkbox"
              [(ngModel)]="skipCommunity" /></label
        ></span>
      </div>
      <button
        class="btn btn-primary mb-2"
        (click)="findSimilarNames5()"
        [disabled]="finding"
      >
        Find
      </button>
      <div *ngIf="findMsg">
        {{ findMsg }}
      </div>
      <div>
        <div *ngFor="let result of similarNameResults">
          <div>
            {{
              result.n1 +
                " \<-> " +
                result.n2 +
                " - " +
                result.points +
                " points"
            }}
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
