<div class="mb-2" *ngIf="displayControls">
  <h3>Type Twins</h3>
  <button
    *ngFor="let option of options"
    class="btn btn-gray mr-2"
    (click)="twin(option.mod)"
    [ngClass]="{ active: activeMods.includes(option.mod) }"
  >
    {{ option.text }}
  </button>
</div>
<app-type-record-list
  style="min-height: 300px"
  [typeRecords]="twinPersons"
  [showMolecule]="true"
  [showSource]="false"
  [loading]="typeTwinsLoading"
  loadingMessage="Type Twins are loading..."
  notFoundMessage="Sorry, no type twins for this type yet..."
>
</app-type-record-list>
