<div class="text-center" *ngIf="loading">
  {{ loadingMessage }}
  <img
    height="100px"
    src="/assets/images/sp-logo-no-bg.png"
    class="sp-logo flip"
  />
</div>

<div #loaded *ngIf="!loading">
  <ng-container *ngTemplateOutlet="pagination"></ng-container>
  <div class="image-row">
    <div
      *ngFor="let typeRecord of displayPages[currentPage - 1]"
      class="type-record"
    >
      <div class="image-col" *ngIf="typeRecord.type || typeRecord.fullEType">
        <div class="image-text-top">
          <div class="">
            <div class="image-indicator-row" *ngIf="!displayPracticeLink">
              <app-type-indicator
                [option]="1"
                [type]="typeRecord.type"
              ></app-type-indicator>
              <app-type-indicator
                [option]="1"
                [eType]="typeRecord.fullEType"
              ></app-type-indicator>
            </div>
          </div>
          <div *ngIf="displayPracticeLink">
            <a
              [routerLink]="['/practice']"
              [queryParams]="{ name: typeRecord.name }"
              >Practice Typing</a
            >
          </div>
        </div>
        <div class="image-wrapper">
          <div
            class="image-img"
            [ngClass]="{ 'image-missing': !typeRecord.pictureUrl }"
            [ngStyle]="{
              'background-image':
                'url(' +
                (typeRecord.pictureUrl
                  ? typeRecord.pictureUrl
                  : '/assets/images/sp-logo-no-bg.png') +
                ')'
            }"
          >
            <span class="image-missing-text" *ngIf="!typeRecord.pictureUrl">
              <a [href]="missingImageLink(typeRecord.name)" target="_blank">
                Image Missing</a
              >
            </span>
          </div>
        </div>
        <div class="image-text-bottom text-center">
          <div class="image-name">
            <div class="">{{ typeRecord.name }}</div>
          </div>
          <div class="type-wrapper" *ngIf="!displayPracticeLink">
            <div class="image-type" *ngIf="typeRecord.type">
              <a
                class="analyzer-link"
                *ngIf="linkToAnalyzer && typeRecord.type.length === 16"
                [routerLink]="['/analyzer']"
                [queryParams]="{
                  s1: analyzerLinkSav1(typeRecord.type),
                  s2: analyzerLinkSav2(typeRecord.type),
                  a: analyzerLinkAnimals(typeRecord.type),
                  m: analyzerLinkMod(typeRecord.type)
                }"
                >{{ typeRecord.type }}</a
              >
              <span *ngIf="!linkToAnalyzer || typeRecord.type.length !== 16">{{
                typeRecord.type
              }}</span>
            </div>
            <div class="image-type" *ngIf="typeRecord.fullEType">
              {{ typeRecord.fullEType }}
            </div>
          </div>
          <div class="image-tags">
            <div *ngFor="let tag of typeRecord.tags">
              {{ tag }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="!typeRecords || typeRecords.length === 0">
    <p>{{ notFoundMessage }}</p>
    <img height="400px" src="/assets/images/type-twin-404.jpg" />
  </div>
  <ng-container *ngTemplateOutlet="pagination"></ng-container>
  <div *ngIf="showSource" class="small help container my-2 p-1">
    <div class="">
      <div class="mb-1 d-inline-block">
        OPS type records courtesy of the
        <a target="_blank" [href]="opsDbSource"
          >Objective Personality Database</a
        >, a project by Ryan and Jana based on typings by Dave and Shannon
        Powers. <a target="_blank" [href]="opsDbInfo">Learn More</a>
      </div>
      <div class="mb-1">
        If you a community member in the OPS database, this adaptation of the
        database currently filters out all but select community members.
        However, if you would like to be included here, you can
        <a [href]="appLinks.contact" target="_blank">contact me</a>
        to be added.
      </div>
    </div>
    <div class="">
      Enneagram type records are sourced from the
      <a [href]="enneagrammerLink" target="_blank">Enneagrammer Database</a>.
      Continue to explore on their
      <a [href]="enneagrammerPinterest" target="_blank">Pinterest Boards</a> or
      learn more about their take on the Enneagram at
      <a href="https://www.enneagrammer.com/">Enneagrammer.com</a>
    </div>
  </div>
</div>

<ng-template #pagination>
  <div class="text-center my-2" *ngIf="pages.length > 1">
    <div class="btn-group">
      <button
        class="btn btn-secondary"
        (click)="currentPage = 1; scrollToLoaded();"
        [disabled]="currentPage === 1"
      >
        First
      </button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = currentPage - 1; scrollToLoaded();"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <button class="btn btn-secondary" *ngFor="let page; of"></button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = currentPage + 1; scrollToLoaded();"
        [disabled]="currentPage === this.displayPages.length"
      >
        Next
      </button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = this.displayPages.length; scrollToLoaded();"
        [disabled]="currentPage === this.displayPages.length"
      >
        Last
      </button>
    </div>
    <div>
      Displaying {{ currentDisplay }} of {{ this.typeRecords.length }} records
    </div>
  </div>
</ng-template>
