<div class="text-center" *ngIf="loading">
  {{ loadingMessage }}
  <img height="100px" src="/assets/images/sp-logo.png" class="sp-logo flip" />
</div>
<div *ngIf="!loading">
  <div class="image-row">
    <div class="image-col text-center" *ngFor="let typeRecord of typeRecords">
      <div class="image-text">
        <div class="image-name">{{ typeRecord.fields.Name }}</div>
        <div class="image-type">
          <a
            [href]="analyzerLink(typeRecord.fields.Type)"
            *ngIf="linkToAnalyzer"
            >{{ typeRecord.fields.Type }}</a
          >
          <span *ngIf="!linkToAnalyzer">{{ typeRecord.fields.Type }}</span>
        </div>
      </div>
      <div class="image-wrapper">
        <div
          *ngIf="
            typeRecord.fields.Picture && typeRecord.fields.Picture.length > 0
          "
          class="image-img"
          [ngStyle]="{
            'background-image': 'url(' + typeRecord.fields.Picture[0].url + ')'
          }"
        ></div>
      </div>
      <div class="image-tags">
          <div *ngFor="let tag of typeRecord.fields.Tags">
              {{tag}}
          </div>
        </div>
    </div>
  </div>
  <div class="text-center" *ngIf="!typeRecords || typeRecords.length === 0">
    <p>{{ notFoundMessage }}</p>
    <img height="400px" src="/assets/images/type-twin-404.jpg" />
  </div>
  <div class="mt-2">
    <div class="mb-2 text-center">
      Type records courtesy of the
      <a
        target="_blank"
        href="https://airtable.com/shrQ6IoDtlXpzmC1l/tblyUDDV5zVyuX5VL/viweXFJuHAQpi5as3"
        >Objective Personality Database</a
      >, a project by Ryan and Jana.
      <a
        target="_blank"
        href="https://subjectivepersonality.wordpress.com/2021/05/07/objective-personality-database/"
        >Learn More</a
      >
    </div>
  </div>
</div>
