@import "~src/assets/variables";

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  .image-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.image-col {
  width: 210px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  height: 100%;
}

.image-col .image-wrapper {
  text-align: center;
}
.image-missing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: bottom right !important;
  background-size: 195px !important;
  background-color: $royal-purple;
  color: $light;
  height: 100%;
  font-weight: bold;
  .image-missing-text {
    transform: rotate(-15deg);
    margin-top: 30px;
    margin-left: 20px;
  }
}
.image-col .image-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 180px;
  margin: 0 auto;
  // border:1px solid $dark;
  // background-color: #ccc;
}
.image-col img {
  max-width: 180px;
  max-height: 200px;
  margin: 10px 0px;
  border: 1px solid $dark;
  border-radius: 5px;
}

.image-col .image-text {
  // color: $dark;
  // background-color: $morning-blue;
  border-radius: 5px;
  flex-grow: 2;
}
.image-text-bottom {
  flex-grow: 2;
}
.image-col .image-name {
  padding: 2px;
  font-weight: bold;
  max-width: 75%;
}
.image-type {
  font-weight: bold;
}
.image-col .image-tags,
.image-col .image-type {
  padding: 2px;
  font-size: 12px;
  min-height: 22px;
}
.analyzer-link {
  color: $secondary;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .image-col {
    width: 170px;
  }
  .image-col .image-img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 450px) {
  .image-col {
    width: 145px;
    padding: 10px 5px;
  }
  .image-col .image-img {
    max-width: 135px;
    max-height: 150px;
  }
  .name-wrapper {
    display: block;
    text-align: center;
    .type-indicator {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-col .image-name {
    max-width: 100%;
  }
  app-type-indicator {
    margin: 0.25rem auto;
    display: inline-block;
  }
}
