<div class="text-center" *ngIf="loading">
  {{ loadingMessage }}
  <img
    height="100px"
    src="/assets/images/sp-logo-no-bg.png"
    class="sp-logo flip"
  />
</div>

<div #loaded *ngIf="!loading">
  <ng-container *ngTemplateOutlet="pagination"></ng-container>
  <div class="image-row" [ngClass]="{ 'image-cards': cards }">
    <div
      *ngFor="let typeRecord of displayPages[currentPage - 1]"
      class="type-record"
    >
      <div
        class="image-col"
        *ngIf="typeRecord.type || typeRecord.fullEType || typeRecord.wssType"
      >
        <div class="image-text-top">
          <div class="">
            <div class="image-indicator-row" *ngIf="!displayPracticeLink">
              <app-type-indicator
                [option]="1"
                [type]="typeRecord.type"
              ></app-type-indicator>
              <app-type-indicator
                [option]="1"
                [eType]="typeRecord.fullEType"
              ></app-type-indicator>
            </div>
          </div>
          <div *ngIf="displayPracticeLink">
            <a
              [routerLink]="['/practice']"
              [queryParams]="{ name: typeRecord.name }"
              >Practice Typing</a
            >
          </div>
        </div>
        <a
          class="image-wrapper"
          [routerLink]="
            displayPracticeLink ? ['/practice'] : ['/search/person']
          "
          [queryParams]="
            displayPracticeLink
              ? { name: typeRecord.name }
              : {
                  person: typeRecord.name
                }
          "
        >
          <div
            class="image-img"
            [ngClass]="{
              'image-missing': !typeRecord.pictureUrl,
              grayscale: grayscale
            }"
            [ngStyle]="{
              'background-image':
                'url(' +
                (typeRecord.pictureUrl
                  ? typeRecord.pictureUrl
                  : '/assets/images/sp-logo-no-bg.png') +
                ')'
            }"
          >
            <span class="image-missing-text" *ngIf="!typeRecord.pictureUrl">
              Image Missing
            </span>
          </div>
        </a>
        <div class="image-text-bottom text-center">
          <div class="image-name">
            <div [ngClass]="{ 'image-name-label': true }">
              {{ typeRecord.name }}
            </div>
          </div>
          <div class="type-wrapper" *ngIf="!displayPracticeLink">
            <div class="image-type" *ngIf="typeRecord.type">
              {{ typeRecord.type }}
            </div>
            <div class="image-type" *ngIf="typeRecord.fullEType">
              {{ typeRecord.fullEType }}
            </div>
            <div class="image-type" *ngIf="typeRecord.wssType">
              {{ typeRecord.wssType }}
            </div>
            <div *ngIf="!typeRecord.ytLink && !typeRecord.pictureUrl">
              <a [href]="missingImageLink(typeRecord.name)" target="_blank"
                >Image Search</a
              >
            </div>
            <div *ngIf="!typeRecord.ytLink">
              <a [href]="typeRecord.ytLink" target="_blank">View Interview</a>
            </div>
            <div *ngIf="false">
              {{ typeRecord.lastModified }}
            </div>
          </div>
          <div class="image-tags">
            <ng-container *ngFor="let tag of typeRecord.tags">
              <div
                (click)="
                  activeTag !== tag ? (activeTag = tag) : (activeTag = '')
                "
                class="image-tag"
                [ngClass]="{
                  'tag-ops': tag === 'OPS',
                  'tag-ennea': tag === 'Enneagrammer',
                  'tag-wss': tag === 'WSS',
                  'tag-spec': tag === 'Speculation',
                  'tag-incomplete': tag === 'Incomplete',
                  'tag-class': tag === 'Class Typing',
                  'tag-community': tag === 'Community Member',
                  active: activeTag === tag
                }"
              >
                <span class="image-tag-text"> {{ tag }}</span>
              </div></ng-container
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="!typeRecords || typeRecords.length === 0">
    <p>{{ notFoundMessage }}</p>
    <img height="400px" src="/assets/images/type-twin-404.jpg" />
  </div>
  <ng-container *ngTemplateOutlet="pagination"></ng-container>
  <div *ngIf="showSource" class="small help container my-2 p-1">
    <div class="">
      <div class="mb-1 d-inline-block">
        OPS type data courtesy of the
        <a target="_blank" [href]="opsDbSource"
          >Objective Personality Database</a
        >, a project by Ryan and Jana based on typings by Dave and Shannon
        Powers. <a target="_blank" [href]="opsDbInfo">Learn More</a>
      </div>
      <div class="mb-1">
        If you a community member in the OPS database,
        <a [href]="appLinks.contact" target="_blank">contact me</a>
        to be excluded from this app.
      </div>
    </div>
    <div class="mb-1">
      Enneagram type data are sourced from the
      <a [href]="enneagrammerLink" target="_blank">Enneagrammer Database</a>.
      Continue to explore on their
      <a [href]="enneagrammerPinterest" target="_blank">Pinterest Boards</a> or
      learn more about their take on the Enneagram at
      <a href="https://www.enneagrammer.com/">Enneagrammer.com</a>
    </div>
    <div>
      Socionics type data sourced from the World Socionic's Society's
      <a
        href="https://www.facebook.com/notes/world-socionics-society/wss-public-figure-benchmark/1974788942540812/"
        >Public Figure Benchmark</a
      >. Learn more about WSS on their
      <a href="https://www.facebook.com/groups/584205738265813" target="_blank"
        >Facebook page</a
      >
      or
      <a
        href="https://www.youtube.com/c/WorldSocionicsSocietyWSS"
        target="_blank"
        >YouTube Channel</a
      >.
    </div>
  </div>
</div>

<ng-template #pagination>
  <div class="text-center my-2" *ngIf="pages.length > 1">
    <div class="btn-group">
      <button
        class="btn btn-secondary"
        (click)="currentPage = 1; scrollToLoaded()"
        [disabled]="currentPage === 1"
      >
        First
      </button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = currentPage - 1; scrollToLoaded()"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = currentPage + 1; scrollToLoaded()"
        [disabled]="currentPage === this.displayPages.length"
      >
        Next
      </button>
      <button
        class="btn btn-secondary"
        (click)="currentPage = this.displayPages.length; scrollToLoaded()"
        [disabled]="currentPage === this.displayPages.length"
      >
        Last
      </button>
    </div>
    <div>
      Displaying {{ currentDisplay }} of {{ this.typeRecords.length }} records
    </div>
  </div>
</ng-template>
