<h1>Release Notes</h1>

<h2>7.30.2020 - Animal Points</h2>

<p>
  Updates Include:
</p>

<ol>
  <li>
    New points calculation which factors in animal order such that BSPC has more
    Oi than BPSC.
  </li>
  <li>
    Added points percentage calculation column.
  </li>
  <li>
    Ability to swap between new point calculation and old.
  </li>
  <li>Ability to configure Animal Order weights.</li>
  <li>Ability to copy links to type using request parameters.</li>
  <li>App navigation header.</li>
  <li>Release Notes page.</li>
</ol>

<h2>7.26.2020 - Point Theory</h2>
<p>
  Update to add explanation of pointing theory and the weights being applied.
</p>

<h2>7.25.2020 - Initial Release</h2>

<p>
  Features Included:
</p>
<ol>
  <li>OPS Dashboard Generator</li>
  <li>Function Points Table</li>
  <li>Point Theory Explanation</li>
</ol>
