/* You can add global styles to this file, and also import other style files */

html, body, app-root {
  height: 100%;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content {
  flex-grow: 1;
}
app-footer {
  flex-shrink: 0;
}

.bg-dark {
  background-color: #333 !important;
}

hr {
  @include gradient-border(secondary, left);
  border-top-width: 2px;
  opacity: 66%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr.hr-sm {
  width: 33%;
}
hr.hr-primary {
  @include gradient-border(primary, left);
}

a .card {
  position: relative;
}
a .card:before {
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 110%;
}

.nav-tabs,
.navbar-app,
.footer,
.card {
  background: theme-color("secondary");
  background: gradient("purple");
  color: theme-color("light");
  a {
    color: $highlight-green;
  }
}

.header {
  border-bottom: 5px solid theme-color("primary");
  min-height: 56px;
  @include gradient-border();
}
.footer {
  border-top: 5px solid theme-color("primary");
  @include gradient-border();
}

@each $gradient, $value in $gradients {
  .gradient-border-top-#{$gradient} {
    @include gradient-border-top($gradient);
  }
  .gradient-border-bottom-#{$gradient} {
    @include gradient-border-bottom($gradient);
  }
  .gradient-border-left-#{$gradient} {
    @include gradient-border-left($gradient);
  }
  .gradient-border-right-#{$gradient} {
    @include gradient-border-right($gradient);
  }
}
a .card {
  color: $highlight-green;
}
a:focus,
a:hover {
  color: $link-hover-color;
}
a:focus .card,
a:hover .card {
  color: $cad-orange;
  // box-shadow: $shadow
}
a:active .card,
a:active {
  color: $link-active-color;
}

h1 {
  margin-top: 15px;
}

.sp-branding {
  color: $cad-orange;
  font-family: monospace;
  @include gradient-border-left("secondary");
  @include gradient-border-right("secondary");
  padding-left: 10px;
  padding-right: 10px;
}

.card h2 {
  font-family: monospace;
  @include gradient-border-left("primary");
  @include gradient-border-right("primary");
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
  line-height: 2rem;
}
a:focus .card h2,
a:hover .card h2 {
  @include gradient-border-left("secondary");
  @include gradient-border-right("secondary");
}
a:active .card h2 {
  @include gradient-border-left("green");
  @include gradient-border-right("green");
}

h1 .sp-branding {
  font-size: 3rem;
  line-height: 3rem;
}

.nav-tabs {
  background: gradient("purple");
  padding: 5px 5px 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  @include gradient-border-bottom();
  .nav-item {
    margin-bottom: 0px;
  }
  .nav-link {
    // font-family: monospace;
    border-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    &:hover:not(.active) {
      background: $highlight-green;
      color: theme-color("dark");
    }
    &:active:not(.active) {
      background: $pan-green;
      color: theme-color("dark");
      border-color: $pan-green;
      border-bottom: 0px;
    }
    &.active {
      position: relative;
    }
    &.active::after {
      content: "";
      border-bottom: 5px solid white;
      position: absolute;
      left: -1px;
      bottom: -5px;
      width: calc(100% + 2px);
    }
  }
}

.neon {
  color: $highlight-green;
  background: gradient("purple");
  border-radius: 5px;
  padding: 0px 2px;
}

$tab-border-width: 1px;
$inner-tab-border-width: 3px;
.tab-wrapper {
  border: $tab-border-width solid $purple;
  border-radius: 5px;
}
.tab-content {
  // background: #ecffff;
  border-bottom: $inner-tab-border-width solid $highlight-green;
  border-right: $inner-tab-border-width solid $highlight-green;
  border-left: $inner-tab-border-width solid $highlight-green;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 300px;
}
.tab-content > tab {
  padding: 15px;
  // border: $tab-border-width solid $purple;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.flip-reverse,
.flip:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.flip-reverse:hover {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }  
}
