$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$indian-red: #db5461;
$black-coral: #3d5467;
$soft-gray: rgb(167, 167, 167);
$dim-gray: #686963;
$morning-blue: #8aa29e;
$isabelline: #f1edee;
$blue-crayola: #5f7bfa;
$sea-green: #228f65;
$cad-orange: #e0781d;
$cad-orange-soft: #e0781d80;
$cad-orange-soft: #eeb685;
$pan-green: #02b354;
$light-pan-green: #02de69;
$muted-pan-green: #cbf3de;
$dark-pan-green: #018e43;
$kelly-green: #4cbb17;

$russian-violet: #2c0954;
$royal-purple: #7850a6;
$purple: #4b2776;

$highlight-blue: #4e92f8;
$highlight-blue: $blue-crayola;
$highlight-green: #2affdc;

$primary: $dark-pan-green;
$secondary: $purple;
$tertiary: $cad-orange;
$tertiary-soft: $cad-orange-soft;

// $coin-one: #1D85E0;
$coin-one: #b28ddc;
$coin-two: $tertiary; //complementary

//needs
// $decider-color: #DB7C24;
// $observer-color: #2483DB;
// $de-color: #E93F16;
// $di-color: #E91656;
// $oe-color: #22DD48;
// $oi-color: #22DDA6;
$observer-color: $coin-one;
$decider-color: $coin-two;
$de-color: $coin-one;
$di-color: $coin-two;
$oe-color: $coin-one;
$oi-color: $coin-two;

//letters
$intuition-yellow: #f1cc0c;
$sensory-green: #31b546;
$thinking-blue: #0baef1;
$feeling-red: #ff3e69;

//animals
$play-color: $coin-one;
$sleep-color: $coin-two;
$blast-color: $coin-one;
$consume-color: $coin-two;
$info-color: $coin-one;
$energy-color: $coin-two;

$masculine-color: $coin-one;
$feminine-color: $coin-two;

$ep-green: rgb(217, 234, 211);
$ij-blue: rgb(201, 218, 248);
$ej-red: rgb(244, 204, 204);
$ip-gray: rgb(239, 239, 239);
$ip-gray: #fffbdf;

// $secondary: $cad-orange;
// $primary: $royal-purple;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light: #fff;
$dark: $russian-violet;

$yiq-text-dark: $dark;
$yiq-text-light: $light;

$body-bg: $light;
$body-color: $dark;

$link-color: $dark-pan-green;
$link-hover-color: $cad-orange;
$link-active-color: $dark-pan-green;
$link-decoration: none;
$link-hover-decoration: none;

$nav-link-color: $link-color;
$nav-tabs-border-color: $purple;

$gradient-border-width: 5px;

$shadow: 0 2px 8px 0 #777;

$gradients: (
  "primary": (
    $highlight-green,
    $pan-green,
  ),
  "secondary": (
    $cad-orange,
    $indian-red,
  ),
  "purple": (
    $purple,
    $royal-purple,
  ),
  "green": (
    $pan-green,
    $royal-purple,
  ),
  "gray": (
    $black-coral,
    $dim-gray,
  ),
  //   "secondary": ($indian-red, $highlight-blue)
);

@function gradient($key: "primary", $direction: right) {
  $colorA: nth(map-get($gradients, $key), 1);
  $colorB: nth(map-get($gradients, $key), 2);
  @return linear-gradient(to $direction, $colorA, $colorB);
}

@mixin gradient-border($key: "primary", $direction: right) {
  border-image-slice: 1;
  border-image-source: gradient($key, $direction);
}
@mixin gradient-border-top($key: "primary") {
  border-top: $gradient-border-width solid;
  @include gradient-border($key, right);
}
@mixin gradient-border-bottom($key: "primary") {
  border-bottom: $gradient-border-width solid;
  @include gradient-border($key, right);
}
@mixin gradient-border-left($key: "primary") {
  border-left: $gradient-border-width solid;
  @include gradient-border($key, bottom);
}
@mixin gradient-border-right($key: "primary") {
  border-right: $gradient-border-width solid;
  @include gradient-border($key, bottom);
}
