@import "../../assets/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.left-side {
  background-color: $soft-gray;
  color: $dark;
}
.person-row {
  display: flex;
  justify-content: center;
  height: 100%;
}
.type-row {
  display: flex;
  padding-top: .5rem;
  padding-bottom: 1rem;
  justify-content: center;
  .type-indicator {
    width: 100px;
  }
}
.type-selection > div {
  margin-bottom: 1rem;
}
.type-selection-item {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  & > :first-child {
    width: 40%;
  }
  & > :last-child {
    width: 60%;
  }
}
.ap-type {
  font-family: fantasy;
  font-size: 1.25rem;
  padding: .25rem .5rem;
  display: inline-block;
  background: #ccc;
  border: 2px solid $dark;
  border-radius: 0.25rem;
}
.type-selector {
   & > .btn,
  .btn-group {
    width: 100%;
    max-width: 250px;
    .dropdown-menu {
      width: 100%;
    }
  }
}
.summary-wrapper {
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 50%;
    min-width: 450px;
    padding-left: .25rem;
    padding-right: .25rem;
  }
  .full-width {
    width: 100%;
  }
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
  & > * {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    flex-grow: 1;
    max-width: 200px;
  }
  input {
    color: #000;
    &::placeholder {
      color: #aaa;
    }
  }
}

.person-wrapper {
  h1 {
    margin: 0px;
    text-align: center;
  }
  padding-left: 1rem;
  padding-right: 1rem;
}
.person-picture {
  display: flex;
  // flex-direction: column;
  justify-content: flex-end;
}
.person-picture img {
  border-radius: 5px;
  max-height: 250px;
  max-width: 250px;
}
.person-img {
  text-align: center;
}
.ops-visual-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.type-options .btn {
  min-width: 100px;
}
.person-indicator {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 100px;
}

@include media-breakpoint-up("lg", $grid-breakpoints) {
  .person-row {
    .left-side {
      width: 33%;
      border-right: 1px solid;
    }
    .left-side-inner {
      max-width: 350px;
      margin-left: auto;
    }
    .right-side {
      width: 77%;
    }
    .right-side-inner {
      max-width: 1000px;
    }
  }
  .type-row {
    width: 300px;
  }
  .type-selector {
    padding-right: 1rem;
  }
}
@include media-breakpoint-down("md", $grid-breakpoints) {
  .person-row {
    display: block;
    .right-side,
    .left-side {
      width: 100%;
      border-bottom: 1px solid;
    }
    .left-side-inner {
      width: 100%;
      margin-left: 0px;
    }
  }
  .left-side-inner {
    display: flex;
    .type-selection {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // margin-left: 1rem;
      // border-left: 1px solid;
      padding-left: 1rem;
      min-width: 40%;
    }
  }
}
@include media-breakpoint-down("xs", $grid-breakpoints) {
  .left-side-inner {
    display: block;
    .type-selection {
      margin-left: 0;
      border-left: none;
      padding-left: 0;
    }
  }
  .summary-wrapper {
    & > div {
      width: 100%;
      min-width: inherit;
    }
  }
  .person-picture {
    justify-content: flex-start;
  }
  .type-selection-item {
    & > :first-child {
      order: 2;
    }
    & > :last-child {
      order: 1;
    }
  }

}
@include media-breakpoint-up("sm", $grid-breakpoints) {
  .person-dashboard {
    app-type-dashboard {
      // display: inline-block;
    }
  }
  .person-wrapper {
    // max-width: 300px;
  }
}

@include media-breakpoint-up("md", $grid-breakpoints) {
  .left-border {
    border-left: 1px solid;
  }
}

.dark-mode {
  h1 {
    color: $light;
  }
  .left-side {
    background-color: $dark-mode-secondary-color;
  }
}