<div class="person-row" *ngIf="person" [ngClass]="{ 'dark-mode': darkMode.enabled }">
  <div class="left-side">
    <div class="left-side-inner pl-3 py-3">
      <div class="person-wrapper">
        <div class="person-picture mb-2">
          <div *ngIf="person.pictureUrl" class="person-img mb-3">
            <img [src]="person.pictureUrl" />
          </div>
        </div>
        <div class="mb-2" *ngIf="false">
          <app-type-tags
            [tags]="person.tags"
            [allActive]="true"
          ></app-type-tags>
        </div>
        <div class="type-row" *ngIf="false">
        </div>
      </div>
      <div class="type-selection">
        <div class="type-selection-item" *ngIf="person.type">
          <app-type-indicator
            class="type-indicator"
            [option]="1"
            [type]="person.type"
          ></app-type-indicator>
          <button (click)="activeTab = 'OPS'" class="btn btn-gray"
            [ngClass]="{ active: activeTab === 'OPS' }"
            >Objective Personality</button>
        </div>
        <div class="type-selection-item" *ngIf="person.eType">
          <app-type-indicator
            class="type-indicator"
            [option]="1"
            [eType]="person.fullEType"
          ></app-type-indicator>
          <button  class="btn btn-gray"
            (click)="activeTab = 'Enneagram'"
            [ngClass]="{ active: activeTab === 'Enneagram' }">Enneagram</button>
        </div>
        <div class="type-selection-item" *ngIf="person.wssType">
          <app-socionics-shape
            class="type-indicator"
            [type]="person.wssType"
          ></app-socionics-shape>
          <button  class="btn btn-gray"
              (click)="activeTab = 'WSS'"
              [ngClass]="{ active: activeTab === 'WSS' }">Socionics</button>
        </div>
        <div class="type-selection-item" *ngIf="person.apType">
          <div class="ap-type">
            {{person.apType}}
          </div>
          <button  class="btn btn-gray"
              (click)="activeTab = 'AP'"
              [ngClass]="{ active: activeTab === 'AP' }">Attitudinal Psyche</button>
        </div>

      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-inner px-3 mt-3 pb-5">
      <h1>{{ person.name }}</h1>
      <div *ngIf="activeTab === 'OPS'">
        <h2>
          {{ person.type }} 
          <span *ngIf="person.socialType"
            [popover]="'Social Type ' + person.socialType"
            triggers="mouseenter:mouseleave">
            [{{ person.socialType }}]
          </span>
          <app-ops-type-animal
            size="32"
            [animalStack]="person.type.substring(9)"
          ></app-ops-type-animal>
        </h2>
        <div class="btn-group mb-3">
          <button
            class="btn btn-gray d-block w-100"
            *ngFor="let option of opsOptions"
            [ngClass]="{ active: activeOps === option }"
            (click)="activeTab = 'OPS'; activeOps = option"
          >
            {{ option }}
          </button>
        </div>
        <div *ngIf="personOpsType">
          <div *ngIf="activeOps === 'Summary'" class="summary-wrapper">
            <div class="ops-molecule" *ngIf="person.type.length === 16">
              <h3>Molecule</h3>
              <app-type-bubbles
                class="text-center"
                [showOptions]="false"
                [showType]="false"
                [opsTypes]="[personOpsType]"
              ></app-type-bubbles>
            </div>
            <div
              class="person-dashboard"
              *ngIf="activeTab === 'OPS' && person.type.length === 16"
            >
              <h3>Dashboard</h3>
              <app-type-dashboard
                [opsType]="personOpsType"
              ></app-type-dashboard>
            </div>
            <div>
              <h3>Animals</h3>
              <app-type-dashboard-animals
                [opsType]="personOpsType"
              ></app-type-dashboard-animals>
            </div>
            <div>
              <h3>Points</h3>
              <app-type-points
              [opsType]="personOpsType"
              [simple]="true"
            ></app-type-points>
            </div>
            <div>
              <h3>Links</h3>
              <app-ops-type-links [typedPerson]="person"></app-ops-type-links>
            </div>
            <div class="full-width">
              <h3>CheckList</h3>
              <app-type-checklist [opsType]="personOpsType" [person]="person"></app-type-checklist>
            </div>
            <div class="full-width mt-3">
              <app-type-animal [opsTypes]="[personOpsType]"></app-type-animal>
            </div>
          </div>
          <div *ngIf="activeOps === 'Description'">
            <h3>Description</h3>
            <app-type-description
              [opsType]="personOpsType"
              [typedPerson]="person"
            ></app-type-description>
          </div>
          <div *ngIf="activeOps === 'Twins'">
            <app-ops-type-twins [opsType]="personOpsType"></app-ops-type-twins>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'Enneagram'">
        <h2>{{ person.fullEType }}</h2>
        <div class="btn-group mb-3">
          <button
            class="btn btn-gray d-block w-100"
            [ngClass]="{ active: activeEnnea === 'Summary' }"
            (click)="activeTab = 'Enneagram'; activeEnnea = 'Summary'"
          >
            Summary
          </button>
          <button
            class="btn btn-gray d-block w-100"
            [ngClass]="{ active: activeEnnea === 'Description' }"
            (click)="activeTab = 'Enneagram'; activeEnnea = 'Description'"
          >
            Description
          </button>
          <button
            class="btn btn-gray d-block w-100"
            [ngClass]="{ active: activeEnnea === 'Twins' }"
            (click)="activeTab = 'Enneagram'; activeEnnea = 'Twins'"
          >
            Twins
          </button>
        </div>
        <div *ngIf="activeEnnea === 'Summary'" class="summary-wrapper">
          <div>
            <app-enneagram-type [type]="person.coreEType"></app-enneagram-type>
          </div>
          <div *ngIf="person.instinct">
            <app-enneagram-instinct
              [instinct]="person.instinct"
            ></app-enneagram-instinct>
          </div>
          <div class="mt-3 full-width">
            <h4>Triad Summary</h4>
            <app-ennea-triads [typedPerson]="person"></app-ennea-triads>
          </div>
          <div *ngIf="false">
            <h4>Triad Weights</h4>
            <app-ennea-type-calculator [coreType]="person.eType" [instinct]="person.instinct" [trifix]="person.fullTrifix"></app-ennea-type-calculator>
          </div>
          <div class="mt-3 full-width" *ngIf="person.trifix">
            <h4>Trifix</h4>
            <app-enneagram-trifix-combination
              [trifix]="person.trifix"
            ></app-enneagram-trifix-combination>
          </div>
          <div class="mt-3" *ngIf="person.trifix">
            <app-enneagram-trifix
              [trifix]="person.trifix"
            ></app-enneagram-trifix>
          </div>
          <div class="mt-3" *ngIf="person.trifix">
            <app-ennea-trifix-stems
              [trifix]="person.trifix"
            ></app-ennea-trifix-stems>
          </div>
          <div class="mt-3">
            <h4>Links</h4>
            <div *ngIf="person.enneaNotes" class="mb-3">
              {{ person.enneaNotes }}
            </div>
            <app-ennea-type-links [typedPerson]="person"></app-ennea-type-links>
          </div>
        </div>
        <div *ngIf="activeEnnea === 'Trifix'">
          <div class="my-3">
          </div>
          <div class="my-3">
          </div>
          <div class="my-3">
          </div>
        </div>
        <div *ngIf="activeEnnea === 'Description'">
          <h3>Description</h3>
          <app-ennea-description [typedPerson]="person"></app-ennea-description>
        </div>
        <div *ngIf="activeEnnea === 'Twins'">
          <app-ennea-type-twins [typedPerson]="person"></app-ennea-type-twins>
        </div>
      </div>
      <div *ngIf="activeTab === 'WSS'">
        <div>
          <h2>{{ person.wssType }}</h2>
        </div>
        <app-socionics-reference
          [type]="person.wssType"
        ></app-socionics-reference>
      </div>
      <div *ngIf="activeTab === 'AP'">
        <div>
          <h2>{{ person.apType }} <span *ngIf="person.apSubtype">({{ person.apSubtype }})</span></h2>
          <app-ap-summary [typedPerson]="person"></app-ap-summary>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!person" class="container">
  <div class="my-3 center-flex">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
