<div *ngIf="person" class="container mb-5">
  <div class="text-center mb-3">
    <h1>{{ person.name }}</h1>
    <div class="mb-2">
      <app-type-tags [tags]="person.tags" [allActive]="true"></app-type-tags>
    </div>
    <div class="btn-group type-options">
      <button
        class="btn btn-gray"
        *ngIf="person.type"
        (click)="activeTab = 'OPS'"
        [ngClass]="{ active: activeTab === 'OPS' }"
      >
        {{ person.type }}
      </button>
      <button
        class="btn btn-gray"
        *ngIf="person.eType"
        (click)="activeTab = 'Enneagram'"
        [ngClass]="{ active: activeTab === 'Enneagram' }"
      >
        {{ person.fullEType }}
      </button>
      <button
        class="btn btn-gray"
        *ngIf="person.wssType"
        (click)="activeTab = 'WSS'"
        [ngClass]="{ active: activeTab === 'WSS' }"
      >
        {{ person.wssType }}
      </button>
    </div>
  </div>
  <div class="ops-visual-row">
    <div class="person-picture">
      <div *ngIf="person.pictureUrl" class="person-img">
        <img [src]="person.pictureUrl" />
      </div>
      <div *ngIf="!person.pictureUrl" class="person-img-missing">
        <img src="/assets/images/sp-logo-no-bg.png" />
      </div>
    </div>
    <div class="person-molecule mx-3">
      <div *ngIf="activeTab === 'OPS'">
        <div class="ops-molecule">
          <app-type-bubbles
            class="text-center"
            [showOptions]="false"
            [showType]="false"
            [opsTypes]="[personOpsType]"
          ></app-type-bubbles>
        </div>
        <div class="person-indicator ops-indicator">
          <app-type-indicator
            [option]="1"
            [type]="person.type"
          ></app-type-indicator>
        </div>
      </div>
      <div *ngIf="activeTab === 'Enneagram'">
        <div class="person-indicator">
          <app-type-indicator
            [option]="1"
            [eType]="person.fullEType"
          ></app-type-indicator>
        </div>
      </div>
      <div *ngIf="activeTab === 'WSS'">
        <div class="person-indicator">
          <app-socionics-shape [type]="person.wssType" [showName]="true"></app-socionics-shape>
        </div>
      </div>
    </div>
    <div class="person-dashboard" *ngIf="activeTab === 'OPS'">
      <app-type-dashboard [opsType]="personOpsType"></app-type-dashboard>
      <!-- <app-type-points></app-type-points> -->
    </div>
    <div *ngIf="activeTab === 'Enneagram'">
      <div>
        <app-enneagram-type [type]="person.coreEType"></app-enneagram-type>
      </div>
    </div>
    <div *ngIf="activeTab === 'WSS'">
      <app-socionics-reference [type]="person.wssType"></app-socionics-reference>
    </div>
  </div>
  <div *ngIf="activeTab === 'OPS'">
    <div *ngIf="personOpsType">
      <app-type-checklist [opsType]="personOpsType"></app-type-checklist>
    </div>
  </div>
  <div *ngIf="activeTab === 'Enneagram'">
    <div class="row">
      <div class="col-lg-6" *ngIf="person.instinct">
        <app-enneagram-instinct
          [instinct]="person.instinct"
        ></app-enneagram-instinct>
      </div>
      <div class="col-lg-6" *ngIf="person.trifix">
        <app-enneagram-trifix [trifix]="person.trifix"></app-enneagram-trifix>
      </div>
    </div>
  </div>
  <div *ngIf="activeTab === 'WSS'">
    <!-- <app-socionics-reference [type]="person.wssType"></app-socionics-reference> -->
  </div>
</div>

<div *ngIf="!person">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>No Person to Display</div>
</div>
