<div class="person-row" *ngIf="person">
  <div class="left-side">
    <div class="left-side-inner pl-3 py-3">
      <div class="person-wrapper">
        <h1>{{ person.name }}</h1>
        <div class="person-picture">
          <div *ngIf="person.pictureUrl" class="person-img">
            <img [src]="person.pictureUrl" />
          </div>
          <div *ngIf="!person.pictureUrl" class="person-img-missing">
            <img src="/assets/images/sp-logo-no-bg.png" />
          </div>
        </div>
        <div class="mb-2">
          <app-type-tags
            [tags]="person.tags"
            [allActive]="true"
          ></app-type-tags>
        </div>
        <div class="type-row">
          <app-type-indicator
            class="type-indicator"
            *ngIf="person.type"
            [option]="1"
            [type]="person.type"
          ></app-type-indicator>
          <app-type-indicator
            class="type-indicator"
            *ngIf="person.eType"
            [option]="1"
            [eType]="person.fullEType"
          ></app-type-indicator>
          <app-socionics-shape
            class="type-indicator"
            *ngIf="person.wssType"
            [type]="person.wssType"
          ></app-socionics-shape>
        </div>
      </div>
      <div class="type-selection">
        <accordion closeOthers="true">
          <accordion-group
            heading="Objective Personality"
            *ngIf="person.type"
            [isOpen]="activeTab === 'OPS'"
            [ngClass]="{ active: activeTab === 'OPS' }"
            (click)="activeTab = 'OPS'"
          >
            <button
              class="btn btn-gray d-block w-100"
              *ngFor="let option of opsOptions"
              [ngClass]="{ active: activeOps === option }"
              (click)="activeTab = 'OPS'; activeOps = option"
            >
              {{ option }}
            </button>
          </accordion-group>
          <accordion-group
            heading="Enneagram"
            *ngIf="person.eType"
            (click)="activeTab = 'Enneagram'"
            [isOpen]="activeTab === 'Enneagram'"
            [ngClass]="{ active: activeTab === 'Enneagram' }"
          >
            <button
              class="btn btn-gray d-block w-100"
              [ngClass]="{ active: activeEnnea === 'Summary' }"
              (click)="activeTab = 'Enneagram'; activeEnnea = 'Summary'"
            >
              Summary
            </button>
            <button
              *ngIf="person.enneaLinks"
              class="btn btn-gray d-block w-100"
              [ngClass]="{ active: activeEnnea === 'Links' }"
              (click)="activeTab = 'Enneagram'; activeEnnea = 'Links'"
            >
              Links
            </button>
            <button
              class="btn btn-gray d-block w-100"
              *ngIf="person.trifix"
              [ngClass]="{ active: activeEnnea === 'Trifix' }"
              (click)="activeTab = 'Enneagram'; activeEnnea = 'Trifix'"
            >
              Trifix
            </button>
            <button
              class="btn btn-gray d-block w-100"
              [ngClass]="{ active: activeEnnea === 'Description' }"
              (click)="activeTab = 'Enneagram'; activeEnnea = 'Description'"
            >
              Description
            </button>
            <button
              class="btn btn-gray d-block w-100"
              [ngClass]="{ active: activeEnnea === 'Twins' }"
              (click)="activeTab = 'Enneagram'; activeEnnea = 'Twins'"
            >
              Twins
            </button>
          </accordion-group>
          <accordion-group
            heading="Socionics"
            *ngIf="person.wssType"
            (click)="activeTab = 'WSS'"
            [isOpen]="activeTab === 'WSS'"
            [ngClass]="{ active: activeTab === 'WSS' }"
          >
            <!-- <p>Some content</p> -->
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-inner px-3 mt-3 pb-5">
      <div *ngIf="activeTab === 'OPS'">
        <h2>
          {{ person.type }}
          <app-ops-type-animal
            size="32"
            [animalStack]="person.type.substring(9)"
          ></app-ops-type-animal>
        </h2>
        <div *ngIf="personOpsType">
          <div *ngIf="activeOps === 'Summary'">
            <div class="ops-visual-row">
              <div class="flex-center mx-3">
                <div class="ops-molecule" *ngIf="person.type.length === 16">
                  <app-type-bubbles
                    class="text-center"
                    [showOptions]="false"
                    [showType]="false"
                    [opsTypes]="[personOpsType]"
                  ></app-type-bubbles>
                </div>
              </div>
              <div
                class="person-dashboard"
                *ngIf="activeTab === 'OPS' && person.type.length === 16"
              >
                <app-type-dashboard
                  [opsType]="personOpsType"
                ></app-type-dashboard>
              </div>
              <div>
                <app-type-dashboard-animals
                  [opsType]="personOpsType"
                ></app-type-dashboard-animals>
              </div>
            </div>
          </div>
          <div *ngIf="activeOps === 'Checklist'">
            <app-type-checklist [opsType]="personOpsType"></app-type-checklist>
          </div>
          <div *ngIf="activeOps === 'Links'">
            <app-ops-type-links [typedPerson]="person"></app-ops-type-links>
          </div>
          <div *ngIf="activeOps === 'Description'" class="pt-3">
            <app-type-description
              [opsType]="personOpsType"
            ></app-type-description>
          </div>
          <div *ngIf="activeOps === 'Twins'" class="pt-3">
            <app-ops-type-twins [opsType]="personOpsType"></app-ops-type-twins>
          </div>
          <div *ngIf="activeOps === 'Extroversion'" class="pt-3">
            <app-type-animal [opsTypes]="[personOpsType]"></app-type-animal>
          </div>
          <div *ngIf="activeOps === 'Points'" class="pt-3">
            <app-type-points
              [opsType]="personOpsType"
              [simple]="true"
            ></app-type-points>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'Enneagram'">
        <h2>{{ person.fullEType }}</h2>
        <div *ngIf="activeEnnea === 'Summary'">
          <div>
            <app-enneagram-type [type]="person.coreEType"></app-enneagram-type>
          </div>
          <div *ngIf="person.instinct">
            <app-enneagram-instinct
              [instinct]="person.instinct"
            ></app-enneagram-instinct>
          </div>
          <div class="mt-3">
            <h4>Triad Summary</h4>
            <app-ennea-triads [typedPerson]="person"></app-ennea-triads>
          </div>
        </div>
        <div *ngIf="activeEnnea === 'Links'">
          <app-ennea-type-links [typedPerson]="person"></app-ennea-type-links>
        </div>
        <div *ngIf="activeEnnea === 'Trifix'">
          <div class="my-3">
            <app-enneagram-trifix-combination
              [trifix]="person.trifix"
            ></app-enneagram-trifix-combination>
          </div>
          <div class="my-3">
            <app-enneagram-trifix
              [trifix]="person.trifix"
            ></app-enneagram-trifix>
          </div>
          <div class="my-3">
            <app-ennea-trifix-stems
              [trifix]="person.trifix"
            ></app-ennea-trifix-stems>
          </div>
        </div>
        <div *ngIf="activeEnnea === 'Description'">
          <app-ennea-description [typedPerson]="person"></app-ennea-description>
        </div>
        <div *ngIf="activeEnnea === 'Twins'">
          <app-ennea-type-twins [typedPerson]="person"></app-ennea-type-twins>
        </div>
      </div>
      <div *ngIf="activeTab === 'WSS'">
        <div>
          <h2>{{ person.wssType }}</h2>
        </div>
        <app-socionics-reference
          [type]="person.wssType"
        ></app-socionics-reference>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!person">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>No Person to Display</div>
</div>
