@import "~src/assets/variables";

@media (max-width: 600px) {
    h1 {
      font-size: 1.8rem;
      .sp-branding {
        font-size: 2rem;
      }
    }
  .search-heading {
    display: block;
  }
  .coin-btn {
    $width-sm: 90px;
    min-width: $width-sm !important;
    width: $width-sm !important;
    padding-left: 2px;
    padding-right: 2px;
  }
  .coin-btn.mr-3 {
      margin-right: 5px !important;
  }
}
.search-type-group .btn {
  min-width: 80px;
  height: 40px;
  line-height: 24px;
  margin-bottom: 10px;
}

.type-label,
.name-label,
.search-type-label,
.coin-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.search-type-label {
  font-size: 16px;
}

.coin-search-btn-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coin-btn {
  background-color: #efefef;
  color: $dark;
  min-width: 110px;
  height: 50px;
  margin-bottom: 10px;
}
$coins: (
  "observer": $observer-color,
  "decider": $decider-color,
  "de": $de-color,
  "di": $di-color,
  "oe": $oe-color,
  "oi": $oi-color,
  "feeling": $feeling-red,
  "thinking": $thinking-blue,
  "sensory": $sensory-green,
  "intuition": $intuition-yellow,
  "sleep": $sleep-color,
  "play": $play-color,
  "blast": $blast-color,
  "consume": $consume-color,
  "energy": $energy-color,
  "info": $info-color,
  "msensory": $masculine-color,
  "fsensory": $feminine-color,
  "mde": $masculine-color,
  "fde": $feminine-color,
);

@each $name, $color in $coins {
  .btn.#{$name} {
    background-color: $color !important;
    color: #000 !important;
    font-weight: bold;
  }
}

.btn.sensory,
.btn.intuition,
.btn.thinking,
.btn.feeling {
  color: #000 !important;
}

.text-notice {
  font-size: 12px;
  font-style: italic;
}

.records-bg {
    background-color: #efefef;
    padding: 10px 15px;
}

input.form-control {
    max-width: 300px;
}