@import "~src/assets/variables";

.top-bg {
  background-color: purple;
}
.search-type-group {
  flex-wrap: wrap;
}
.search-type-group .btn {
  min-width: 80px;
  height: 40px;
  line-height: 24px;
  margin-bottom: 10px;
}

.type-label,
.name-label,
.search-type-label,
.coin-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.coin-label-sm {
  font-size: 12px;
}
.search-type-label {
  font-size: 16px;
  font-weight: bold;
}

.coin-search-btn-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coin-btn {
  background-color: #efefef;
  color: $dark;
  min-width: 100px;
  height: 50px;
  margin-bottom: 10px;
  width: calc(25% - 1rem);
}
$coins: (
  "observer": $observer-color,
  "decider": $decider-color,
  "de": $de-color,
  "di": $di-color,
  "oe": $oe-color,
  "oi": $oi-color,
  "feeling": $feeling-red,
  "thinking": $thinking-blue,
  "sensory": $sensory-green,
  "intuition": $intuition-yellow,
  "sleep": $sleep-color,
  "play": $play-color,
  "blast": $blast-color,
  "consume": $consume-color,
  "energy": $energy-color,
  "info": $info-color,
  "msensory": $masculine-color,
  "fsensory": $feminine-color,
  "mde": $masculine-color,
  "fde": $feminine-color,
  "male": $masculine-color,
  "female": $feminine-color,
);

@each $name, $color in $coins {
  .btn.#{$name} {
    background-color: $color !important;
    color: #000 !important;
    font-weight: bold;
  }
}

.btn.sensory,
.btn.intuition,
.btn.thinking,
.btn.feeling {
  color: #000 !important;
}

.text-notice {
  font-size: 12px;
  font-style: italic;
}

input.form-control {
  // max-width: 300px;
}

.search-tips {
  padding-left: 1.5rem;
  li {
    margin-bottom: 0.25rem;
  }
  a {
    color: $secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    .sp-branding {
      font-size: 2rem;
    }
  }
  // .search-heading {
  //   display: block;
  // }
  .coin-btn {
    $width-sm: 90px;
    // min-width: $width-sm !important;
    // width: $width-sm !important;
    min-width: calc(25% - 5px);
    width: calc(25% - 5px);
    padding-left: 2px;
    padding-right: 2px;
  }
  .coin-btn.mr-3 {
    margin-right: 5px !important;
  }
}

@media (max-width: 410px) {
  .coin-btn {
    $width-xs: 66px;
    // min-width: $width-xs !important;
    // width: $width-xs !important;
  }
  h1 .sp-branding,
  h1 {
    font-size: 1.5rem;
  }
}

.coin-groups {
  .btn-group {
    width: 100%;
    .btn {
      background-color: #ccc;
    }
    .btn.active {
      background-color: #a2a2a2;
      // color: $light;
    }
    .btn.active {
      color: $light;
      background-color: $secondary;
    }
    .btn-side {
      width: 40%;
    }
    .btn-middle {
      width: 20%;
    }
    .btn-unset {
      max-width: 80px;
    }
    .btn-middle.btn.active,
    .btn-unset.active {
      background-color: #a2a2a2;
      color: $dark;
    }
  }
}

.search-enneagram {
  .btn-gray {
    min-width: 55px;
    min-height: 45px;
  }
  .search-ewrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.fix-bg {
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #ccc;
}
.fix-wrapper {
  display: flex;
  flex-wrap: wrap;
  & > div {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .fix-wrapper {
    & > div {
      width: 100%;
    }
  }
}
.search-instructions {
  h2 {
    text-align: right;
    // font-size: 1.35rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .rules {
    display: flex;
    flex-wrap: wrap;
  }
  .rule {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .25rem;
    .rule-name {
      min-width: 200px;
      margin-left: 1rem;
    }
    .rule-example {
      margin-left: 1.25rem;
      min-width: 200px;
    }
  }
}
.previous-search-wrapper {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.fix-bubble,
.previous-search {
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 1px solid $primary;
  border-radius: 50px;
  background-color: #eee;
  &:hover {
    // border: 1px solid $cad-orange;
    box-shadow: -1px 2px 5px 1px #777;
  }
  button {
    margin-left: 0.5rem;
    background: none;
    border: none;
    color: $primary;
    &:hover {
      color: $cad-orange;
    }
  }
}
.fix-bg .fix-bubble {
  background: #fff;
}
.previous-search-clear {
  color: $primary;
  &:hover {
    color: $cad-orange;
  }
}
.button-wrapper {
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-bottom: -1rem;
  & > * {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
}
