@import "~src/assets/variables";

.search-type-group .btn {
  min-width: 80px;
  height: 40px;
  line-height: 24px;
  margin-bottom: 10px;
}

.type-label,
.name-label,
.search-type-label,
.coin-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.search-type-label {
  font-size: 16px;
  font-weight: bold;
}

.coin-search-btn-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coin-btn {
  background-color: #efefef;
  color: $dark;
  min-width: 110px;
  height: 50px;
  margin-bottom: 10px;
  width: calc(25% - 1rem);
}
$coins: (
  "observer": $observer-color,
  "decider": $decider-color,
  "de": $de-color,
  "di": $di-color,
  "oe": $oe-color,
  "oi": $oi-color,
  "feeling": $feeling-red,
  "thinking": $thinking-blue,
  "sensory": $sensory-green,
  "intuition": $intuition-yellow,
  "sleep": $sleep-color,
  "play": $play-color,
  "blast": $blast-color,
  "consume": $consume-color,
  "energy": $energy-color,
  "info": $info-color,
  "msensory": $masculine-color,
  "fsensory": $feminine-color,
  "mde": $masculine-color,
  "fde": $feminine-color,
  "male": $masculine-color,
  "female": $feminine-color,
);

@each $name, $color in $coins {
  .btn.#{$name} {
    background-color: $color !important;
    color: #000 !important;
    font-weight: bold;
  }
}

.btn.sensory,
.btn.intuition,
.btn.thinking,
.btn.feeling {
  color: #000 !important;
}

.text-notice {
  font-size: 12px;
  font-style: italic;
}

input.form-control {
  max-width: 300px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    .sp-branding {
      font-size: 2rem;
    }
  }
  .search-heading {
    display: block;
  }
  .coin-btn {
    $width-sm: 90px;
    min-width: $width-sm !important;
    width: $width-sm !important;
    padding-left: 2px;
    padding-right: 2px;
  }
  .coin-btn.mr-3 {
    margin-right: 5px !important;
  }
}

@media (max-width: 410px) {
  .coin-btn {
    $width-xs: 66px;
    min-width: $width-xs !important;
    width: $width-xs !important;
  }
}

.coin-groups {
  .btn-group {
    width: 100%;
    .btn {
      background-color: #ccc;
    }
    .btn.active {
      background-color: #a2a2a2;
      // color: $light;
    }
    .btn-side {
      width: 40%;
    }
    .btn-middle {
      width: 20%;
    }
    .btn-unset {
      max-width: 80px;
    }
  }
}