<div class="container">
  <div class="img-right img-heading">
    <img src="/assets/images/database.png" />
  </div>
  <div class="search-top">
    <h1>
      <span class="search-heading">Search the OPS </span
      ><span class="sp-branding">Database</span>
    </h1>
    <div>
      <p class="lead">
        Want to know if someone has been typed by Objective Personality?
      </p>
      <p>
        Search the database below by Coin, Name, or Type string as needed to
        find what you are looking for! The url updates as you search so you can
        share these search results with others.
      </p>
      <p>
        <strong>Are you a community member in the database?</strong>
        <br />
        This adaptation of the
        <a
          href="https://airtable.com/shrQ6IoDtlXpzmC1l/tblyUDDV5zVyuX5VL/viweXFJuHAQpi5as3"
          target="_blank"
          >Objective Personality Database</a
        >
        filters out most community members. If you would like to be included
        here, you can
        <a
          href="https://subjectivepersonality.wordpress.com/about/contact/"
          target="_blank"
          >contact me</a
        >
        to be added.
      </p>
      <p>
        Enneagram Types sourced from the
        <a href="enneagrammerLink" target="_blank">Enneagrammer Database</a>.
        Check out their
        <a [href]="enneagrammerPinterest" target="_blank">Pinterest Boards</a>.
      </p>
    </div>
    <div class="d-none d-sm-flex my-2">
      <app-type-indicator [option]="1"></app-type-indicator>
      <div class="mx-3">
        <app-type-indicator
          [option]="1"
          type="MF-Fe/Ni-BP/C(S)"
        ></app-type-indicator>
      </div>
      <div class="mx-3">
        <app-type-indicator
          [option]="1"
          type="FM-Fi/Se-CS/B(P)"
        ></app-type-indicator>
      </div>
      <div class="mx-3">
        <app-type-indicator
          [option]="1"
          type="FF-Ti/Ni-SB/P(C)"
        ></app-type-indicator>
      </div>
    </div>
    <div>
      <span class="search-type-label">Select Search Type</span>
      <div
        class="btn-group btn-group-toggle search-type-group"
        data-toggle="buttons"
      >
        <label
          *ngFor="let st of searchTypes"
          class="btn btn-primary"
          [ngClass]="{ active: searchType === st }"
        >
          <input
            type="radio"
            name="options"
            id="coinsOption"
            [(ngModel)]="searchType"
            [value]="st"
            autocomplete="off"
          />
          {{ st }}
        </label>
      </div>
    </div>
  </div>

  <hr class="" />
  <div class="clear-right"></div>

  <div class="search-coins mb-5" *ngIf="searchType === 'Coins'">
    <div class="row">
      <div class="col-md-4">
        <div *ngIf="options" class="coin-groups">
          <div *ngFor="let option of optionValues">
            <div class="coin-label coin-label-sm" *ngIf="false">
              <a
                [href]="option.coin.infoLink"
                target="_blank"
                *ngIf="option.coin.infoLink"
              >
                {{ option.coin.name }}
              </a>
              <span *ngIf="!option.coin.infoLink">
                {{ option.coin.name }}
              </span>
            </div>
            <div class="btn-group" btnRadioGroup [(ngModel)]="option.val">
              <ng-container
                *ngIf="option.coin.sides.length === 2; else other_content"
              >
                <label
                  class="btn btn-side"
                  [btnRadio]="option.coin.sides[0].val"
                >
                  {{ option.coin.sides[0].name }}
                </label>
                <label class="btn btn-middle" [btnRadio]="''"> / </label>
                <label
                  class="btn btn-side"
                  [btnRadio]="option.coin.sides[1].val"
                >
                  {{ option.coin.sides[1].name }}
                </label>
              </ng-container>
              <ng-template #other_content>
                <label
                  class="btn"
                  [btnRadio]="side.val"
                  *ngFor="let side of option.coin.sides"
                >
                  {{ side.name }}
                </label>
                <label class="btn btn-unset" [btnRadio]="''"> Clear </label>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-md-none">
        <hr />
      </div>
      <div class="col-md-8">
        <div *ngFor="let cluster of clusters">
          <span class="coin-label" *ngIf="false">{{ cluster.name }}</span>
          <div class="coin-groups">
            <div class="btn-group">
              <label
                class="btn"
                *ngFor="let funct of cluster.cluster"
                [ngClass]="{ active: isCoins(funct.coins) }"
                (click)="setCoins(funct.coins)"
              >
                {{ funct.label }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="coin-search-btn-group">
      <button
        class="btn btn-lg btn-primary mr-3"
        type="button"
        [disabled]="searchLoading"
        (click)="searchCoins()"
      >
        Search
      </button>
      <button
        class="btn btn-secondary mr-3"
        type="button"
        (click)="resetCoins()"
      >
        Reset
      </button>
    </div>
  </div>
  <div class="mb-5 search-name" *ngIf="searchType === 'Name'">
    <form (ngSubmit)="onSubmitName(nameForm)" #nameForm="ngForm">
      <div class="form-group">
        <label for="name" class="name-label">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          minlength="2"
          required
          [(ngModel)]="nameString"
          name="name"
        />
        <div class="help small">
          Searches for the text within the name field of the person record. Ex1:
          'Jan', Ex2: 'Jon'
        </div>
      </div>
      <div>
        <button
          class="btn btn-lg btn-primary mr-3"
          type="submit"
          [disabled]="searchLoading"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="search-coins mb-5" *ngIf="searchType === 'Type'">
    <form (ngSubmit)="onSubmitType(typeForm)" #typeForm="ngForm">
      <div class="form-group">
        <label for="type" class="type-label">Type</label>
        <input
          id="type"
          type="text"
          class="form-control"
          minlength="2"
          required
          [(ngModel)]="typeString"
          name="type"
        />
        <div class="help small">
          Enter some part of a full type. Performs a search of the full type
          string (including dashes and parenthesis). Ex1: MF, Ex2: Ne/Ti, Ex3:
          CP/S(B). Ex4: FF-Fe/Se
        </div>
      </div>
      <div>
        <button
          class="btn btn-lg btn-primary mr-3"
          type="submit"
          [disabled]="searchLoading"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="search-coins mb-5" *ngIf="searchType === 'Enneagram'">
    <p>Coming Soon...</p>
    <p>
      For now you can search for parts of an enneagram type on the types tab.
      Ex: 'So/Sp' or '9w1'
    </p>
  </div>

  <p class="text-notice" *ngIf="false">
    There is currently a max of {{ maxRecords }} records returned. Narrow your
    search if possible, but I should be able to increase this soon.
  </p>
  <p *ngIf="displayedRecords && displayedRecords.length > 0" class="text-info">
    Search found {{ displayedRecords.length }} results.
  </p>
</div>
<div class="container-fluid records-bg">
  <app-type-record-list
    [typeRecords]="displayedRecords"
    [loading]="searchLoading"
    [linkToAnalyzer]="true"
  ></app-type-record-list>
</div>
