@import "~src/assets/variables";
@import "~node_modules/bootstrap/scss/mixins/breakpoints";

.wrapper {
  /* min-height: 550px; */
  /* background-image: '/assets/images/subjective-personality-header.png'; */
  // min-height: 100vh;
  // padding-top: 1rem;
  // border-top: 2rem solid;
  // border-bottom: 3rem solid;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(to right, #4b2776, #7850a6);
}

.top,
.bottom {
  background: gradient('purple');
  height: 30px;
}


.top {
  flex-shrink: 0;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.bg-blue {
  /* background: #ccc; */
  padding: 15px 0px;
  /* box-shadow: inset 0 2px 8px 0 #777; */
  /* background: linear-gradient(45deg, #108dc7, #fff, #ef8e38); */
  /* background: linear-gradient(to right, #3F5EFB, #ff3333, #3F5EFC); */

  // background: url("/assets/images/subjective-personality-header.png");
  // background-size: cover;
}

app-home .wrapper {
  // background: gradient("secondary", bottom);
}

.sp-logo {
  display: inline-block;
  width: 7rem;
  // height: 7rem;
  margin-left: .5rem;
  margin-right: .5rem;
  @include media-breakpoint-up('lg', $grid-breakpoints) {
    width: 12rem;
    // height: 12rem;
  }
}

.text-bubble {
  background: #fff;
  padding: 15px;
  // border: 1px solid $purple;
}

.logo-wrapper {
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-col {
  margin-top: 1rem;
  margin-bottom: 1rem;
}