<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>
  <!-- <div class="top gradient-border-bottom-primary"></div> -->
  <div class="main-content sp-banner py-4">
    <div class="container">
      <div>
        <h1>Subjective <span class="sp-branding">Personality</span></h1>
      </div>
      <div class="logo-wrapper">
        <img
          class="sp-logo flip-reverse"
          src="/assets/images/sp-logo-no-bg.png"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          [ngClass]="{
            flip: i % 2 === 0,
            'flip-reverse': i % 2 === 1,
            'd-none': i > 3,
            'd-lg-inline-block': i > 5 && i < 8,
            'd-xl-inline-block': i > 7
          }"
        />
      </div>
    </div>
    <div class="bg-gradient-purple-left">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 home-col" *ngFor="let link of homeLinks">
            <a [routerLink]="link.href" *ngIf="!link.ext">
              <ng-container
                *ngTemplateOutlet="homelink; context: { yourLink: link }"
              ></ng-container>
            </a>
            <a href="{{ link.href }}" *ngIf="link.ext" target="_blank">
              <ng-container
                *ngTemplateOutlet="homelink; context: { yourLink: link }"
              ></ng-container>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-3">
      <p class="">
        <strong>Subjective </strong><span class="sp-branding">Personality</span> is a site dedicated to documenting and exploring
        concepts and theories of personality. Here at SP
        <a href="https://subjectivepersonality.wordpress.com/about/our-team/"
          >our team</a
        >
        of writers aim to help make these sometimes complicated theories of
        personality more accessible and, dare I say, <em>fun</em> to learn about. While
        not ourselves experts in psychology, we feel that we can provide a
        service in accumulating the broad spectrum of information and giving you
        the good stuff in brief. Think of us as a friendly neighbor welcoming
        you to the typology community with a giggly jello dessert.  <em>Bon appetit!</em>
      </p>
      <p class="text-center">
        <a href="http://subjectivepersonality.com" class="btn btn-primary"
          >View our Blog</a
        >
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ng-template let-link="yourLink" #homelink>
  <div class="link-card text-center">
    <div class="card-title">
      <h2>{{ link.title }}</h2>
    </div>
    <div *ngIf="link.img" class="text-center card-img">
      <img [src]="link.img" height="100" class="mb-3" />
    </div>
    <div class="card-lead">{{ link.lead }}</div>
  </div>
</ng-template>
