<div class="container">
  <div>
    <h1>Type Exemplars</h1>
    <p>
      Below is a randomized selection of type exemplars. Click on each to see another
      from the list of valid exemplars.
      <br/>
      You can customize the filters, but not all types will have someone when each filter is applied.
    </p>
  </div>
  <div class="flex-table-wrapper">
    <div class="flex-table-column">
      <h2>Sleep</h2>
      <ng-container *ngFor="let type of types.slice(0, 8)">
        <ng-container
          *ngTemplateOutlet="person; context: { type: type }"
        ></ng-container>
      </ng-container>
    </div>
    <div class="flex-table-column">
      <h2>Consume</h2>
      <ng-container *ngFor="let type of types.slice(8, 16)">
        <ng-container
          *ngTemplateOutlet="person; context: { type: type }"
        ></ng-container>
      </ng-container>
    </div>
    <div class="flex-table-column">
      <h2>Blast</h2>
      <ng-container *ngFor="let type of types.slice(16, 24)">
        <ng-container
          *ngTemplateOutlet="person; context: { type: type }"
        ></ng-container>
      </ng-container>
    </div>
    <div class="flex-table-column">
      <h2>Play</h2>
      <ng-container *ngFor="let type of types.slice(24, 32)">
        <ng-container
          *ngTemplateOutlet="person; context: { type: type }"
        ></ng-container>
      </ng-container>
    </div>
  </div>

  <div class="my-3 controls">
    <button
      class="btn btn-primary mr-2"
      (click)="resetColumns()"
      [ngClass]="{ active: showNames }"
    >
      Shuffle
    </button>
    <button
      class="btn btn-gray mr-2"
      (click)="showNames = !showNames"
      [ngClass]="{ active: showNames }"
    >
      Names
    </button>
    <button
      class="btn btn-gray mr-2"
      (click)="tagToggle()"
      [ngClass]="{ active: tag !== 'All' }"
    >
      {{ tag }}
    </button>
    <button
      class="btn btn-gray mr-2"
      (click)="genderToggle()"
      [ngClass]="{ active: gender !== 'M/F' }"
    >
      {{ gender }}
    </button>
    <button
      class="btn btn-gray mr-2"
      (click)="modToggle()"
      [ngClass]="{ active: mod !== 'Mod' }"
    >
      {{ mod }}
    </button>
  </div>
</div>

<ng-template #person let-type="type">
  <div class="person" (click)="tableStructure2[type].nextIndex()">
    <div class="img-wrapper" *ngIf="tableStructure2[type].arr.length > 0">
      <div
        class="image-img"
        [ngClass]="{
          'image-missing': !tableStructure2[type].current.pictureUrl
        }"
        [ngStyle]="{
          'background-image':
            'url(' +
            (tableStructure2[type].current.pictureUrl
              ? tableStructure2[type].current.pictureUrl
              : '/assets/images/sp-logo-no-bg.png') +
            ')'
        }"
      >
        <div *ngIf="showNames" class="img-name">
          {{ tableStructure2[type].current ? tableStructure2[type].current.name : "" }}
        </div>
        <span
          class="image-missing-text"
          *ngIf="!tableStructure2[type].current.pictureUrl"
        >
          Image Missing
        </span>
        <div class="img-type">{{ formatType(type) }}</div>
      </div>
    </div>
  </div>
</ng-template>
