<div *ngIf="!trifix" class="mb-3 d-flex">
  <div class="mr-3">
    <div class="font-weight-bold text-center">
      Heart
    </div>
    <button
      *ngFor="let number of heart"
      class="btn btn-gray filter-button"
      [ngClass]="{ active: heartSelected === number }"
      (click)="
        heartSelected === number
          ? (heartSelected = '')
          : (heartSelected = number); applyFilter();
      "
    >
      {{ number }}
    </button>
  </div>
  <div class="mr-3">
    <div class="font-weight-bold text-center">
      Head
    </div>
    <button
      *ngFor="let number of head"
      class="btn btn-gray filter-button"
      [ngClass]="{ active: headSelected === number }"
      (click)="
        headSelected === number
          ? (headSelected = '')
          : (headSelected = number); applyFilter();
      "
    >
      {{ number }}
    </button>
  </div>
  <div>
    <div class="font-weight-bold text-center">
      Body
    </div>
    <button
      *ngFor="let number of body"
      class="btn btn-gray filter-button"
      [ngClass]="{ active: bodySelected === number }"
      (click)="
        bodySelected === number
          ? (bodySelected = '')
          : (bodySelected = number); applyFilter();
      "
    >
      {{ number }}
    </button>
  </div>
</div>

<div class="overflow-wrapper d-none d-md-block">
  <table class="trifix-table">
    <tbody>
      <tr
        *ngFor="let fix of combinations"
        [ngClass]="{ clickable: clickable }"
        (click)="fixClick(fix.numbers)"
      >
        <td>{{ fix.numbers }}</td>
        <td>
          <div *ngFor="let name of fix.names">{{ name }}</div>
        </td>
        <td>
          <div>{{ harmonics(fix) }}</div>
          <div>{{ hornevian(fix) }}</div>
          <div>{{ object(fix) }}</div>
        </td>
        <td>
          <div *ngFor="let d of fix.description">{{ d }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="trifix-text d-md-none">
  <div *ngFor="let fix of combinations">
    <div
      class="font-weight-bold"
      [ngClass]="{ clickable: clickable }"
      (click)="fixClick(fix.numbers)"
    >
      {{ fix.numbers }} -
      <span *ngFor="let name of fix.names; let i = index"
        >{{ i > 0 ? "/" : "" }}{{ name }}</span
      >
    </div>
    <div>
      <div>{{ harmonics(fix) }} {{ hornevian(fix) }} {{ object(fix) }}</div>
    </div>
    <div>
      <ul>
        <li *ngFor="let d of fix.description">
          <div>{{ d }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
