.trifix-table {
  width: 100%;
  min-width: 550px;
  td {
    border: 1px solid;
    min-width: 70px;
    padding: 0.25rem 0.5rem;
  }
  td:first-child {
    text-align: center;
    background: #ccc;
  }
  td:nth-child(3) {
    width: 130px;
  }
  .clickable:hover {
    background: #efefef;
    cursor: pointer;
  }
}

.trifix-text {
  .clickable:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.filter-button {
  margin: 0.25rem;
}
