<div class="overflow-wrapper d-none d-md-block">
  <table class="trifix-table">
    <tbody>
      <tr
        *ngFor="let fix of combinations"
        [ngClass]="{ clickable: clickable }"
        (click)="fixClick(fix.numbers)"
      >
        <td>{{ fix.numbers }}</td>
        <td>
          <div *ngFor="let name of fix.names">{{ name }}</div>
        </td>
        <td>
          <div>{{ harmonics(fix) }}</div>
          <div>{{ hornevian(fix) }}</div>
          <div>{{ object(fix) }}</div>
        </td>
        <td>
          <div *ngFor="let d of fix.description">{{ d }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="trifix-text d-md-none">
  <div *ngFor="let fix of combinations">
    <div
      class="font-weight-bold"
      [ngClass]="{ clickable: clickable }"
      (click)="fixClick(fix.numbers)"
    >
      {{ fix.numbers }} -
      <span *ngFor="let name of fix.names; let i = index"
        >{{ i > 0 ? "/" : "" }}{{ name }}</span
      >
    </div>
    <div>
      <div>{{ harmonics(fix) }} {{ hornevian(fix) }} {{ object(fix) }}</div>
    </div>
    <div>
      <ul>
        <li *ngFor="let d of fix.description">
          <div>{{ d }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
