<div class="table-wrapper mb-3">
  <table class="table">
    <thead>
      <th>A<span class="d-none d-md-inline">ctivation</span></th>
      <th>M<span class="d-none d-md-inline">odality</span></th>
      <th>F<span class="d-none d-md-inline">unction</span></th>
      <th>S<span class="d-none d-md-inline">aviors</span></th>
      <th>S<span class="d-none d-md-inline">aviors</span></th>
      <th>A<span class="d-none d-md-inline">nimals</span></th>
    </thead>
    <tbody>
      <tr *ngFor="let function of functions; index as i">
        <td>{{ function.activation }}</td>
        <td>{{ function.modality }}</td>
        <td>{{ function.name }}</td>
        <td>{{ function.savior }}</td>
        <td>{{ animals[i].savior }}</td>
        <td>{{ animals[i].shortName }}</td>
      </tr>
    </tbody>
  </table>
</div>
