<div class="table-wrapper mb-3">
  <table class="table">
    <thead>
      <th>Activation</th>
      <th>Modality</th>
      <th>Function</th>
      <th>Saviors</th>
      <th>Saviors</th>
      <th>Animals</th>
    </thead>
    <tbody>
      <tr *ngFor="let function of functions; index as i">
        <td>{{ function.activation }}</td>
        <td>{{ function.modality }}</td>
        <td>{{ function.name }}</td>
        <td>{{ function.savior }}</td>
        <td>{{ animals[i].savior }}</td>
        <td>{{ animals[i].shortName }}</td>
      </tr>
    </tbody>
  </table>
</div>
