@import "../../../assets/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

table {
  color: $dark;
  text-align: center;
  margin: 1px;
  width: 99%;
  max-width: 700px;
  background-color: $soft-gray;
}
table th {
  border-top: 0px;
  border-bottom: 0px;
}
tbody {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tbody td {
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
tbody td:nth-child(5),
tbody td:nth-child(6) {
  background: $tertiary-soft;
}
.table-wrapper {
  overflow-x: auto;
}

.table-tip {
  font-weight: bold;
  padding-bottom: 0px;
  color: $dark;
  text-decoration: underline;
}
@include media-breakpoint-down("xs", $grid-breakpoints) {
  thead th,
  tbody td {
    padding: 0.25rem;
    // width: 2rem;
  }
}
